{% extends 'base.html.twig' %}
{% block title %}Chercher une annonce | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-container-small uk-position-relative" {% if app.request.attributes.get("_route")=='search_home' %}id="large-content"{% endif %}>
        <div id="blockSearch">
            <h4 class="uk-margin-top uk-text-bold">Pour trouver des annonces, saisissez la ville de départ et de destination du colis</h4>
            {{ form_start(search, {'action': path('search_home'), 'method':'POST', 'attr':{'id':'rechercheAdvert'}}) }}
            <div class="uk-margin-small uk-grid-small uk-child-width-1-2 uk-grid" uk-grid="">
                <div class="uk-first-column">
                    {{ form_widget(search.first_place, {'attr': {'class':'uk-input uk-search-input', 'placeholder':'De'}}) }}
                </div>
                <div>
                    {{ form_widget(search.end_place, {'attr': {'class':'uk-input uk-search-input', 'placeholder':'A'}}) }}
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: calendar"></span>
                    {{ form_widget(search.search_date, {'attr': {'class':'uk-input uk-form-width-medium datepicker-date', 'data-toggle':'datepicker','placeholder':'Quand ?'}}) }}
                </div>    
            </div>
            <div class="uk-margin">
                <input class="uk-button uk-button-violet uk-form-width-medium" type="submit" value="Rechercher" />
            </div>
            <div id="filter-search" class="uk-panel uk-panel-default uk-margin-small-top uk-invisible">
                <div class="uk-float-right uk-child-width-1-4" uk-grid>
                    <div>
                        {{ form_widget(search.tri_date, {'attr': {'class':'uk-select uk-form-width-small triParDate'}}) }}
                    </div>
                    <div>
                        {{ form_widget(search.tri_price, {'attr': {'class':'uk-select uk-form-width-small triParDate'}}) }}
                    </div>
                    <div>
                        {{ form_widget(search.tri_type, {'attr': {'class':'uk-select uk-form-width-small triParDate'}}) }}
                    </div>
                    <div>
                        {{ form_widget(search.tri_way, {'attr': {'class':'uk-select uk-form-width-small triParDate'}}) }}
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <div id="resultatsRecherche">
                    {#  On affiche les résultats #}
                    <div id="spinn" class="uk-text-violet uk-invisible uk-margin-top uk-position-center" uk-spinner></div>
                </div>
            </div>
            {{ form_end(search) }}
        </div>
    </div>
{% endblock %}

