{% if adverts is defined and adverts is not null %}
    <div class="uk-panel">
        <p class="uk-text-lead">Résultats de votre recherche</p>
    </div>
        {# On crée un système d'association pour chaque mode de transport #}
        {% macro libTransport(nbT, tPa) %}
            {% if tPa == 2 %}
                {% if nbT == 1 %}
                    Avion
                {% elseif nbT == 2 %}
                    Bateau
                {% elseif nbT == 3 %}
                    Train
                {% elseif nbT == 4 %}
                   Voiture
                {% endif %}
            {% else %}
                --
            {% endif %}
        {% endmacro %}
        {# On détermine le type d'annonce #}
        {% macro libTypeAnnonce(typA) %}
            {% if typA == 2 %}
                Transport de colis
            {% elseif typA == 1 %}
                Envoi de colis
            {% endif %}
        {% endmacro %}
        {% if adverts is defined and adverts|length > 0 %}
        <ul class="uk-list list-adverts">
            {% for ad in adverts %}
                <li class="uk-bordered uk-background-default uk-padding-small uk-panel annonces" data-index="{{ ad.id }}" user-note="{{ ad.user.note }}" user-id="{{ ad.user.id }}">
                    <img class="uk-align-left uk-margin-small-right uk-margin-medium-top uk-border-circle" src="{% if ad.user.avatar is not null %}{{ asset(ad.user.avatar) }}{% else %}{{ asset('public/img/profilneutre.jpg') }}{% endif %}" width="130" height="150" alt="utilisateur" />
                    {% if ad.typeAnnonce == 1  %}
                        <img class="uk-align-right uk-margin-remove" src="{% if ad.image is not null %}{{  asset('uploads/images/'~ad.image) }}{% else %}{{ asset('public/img/box-colis.png') }}{% endif %}" width="80"  alt="colis_photo">
                    {% else %}
                        <img class="uk-align-right uk-margin-remove" src="{{  asset('public/img/box-colis.png') }}" width="80"  alt="colis_photo">
                    {% endif %}
                    <p>
                        <span class="uk-margin-small-right uk-text-violet uk-icon" uk-icon="icon: commenting"></span><span class="uk-text-bold">{{ ad.user.username }}</span> a ajouté
                        <span class="uk-text-violet uk-text-bold">{{ ad.title }}</span><i class="uk-text-meta"> , le {{ ad.created|date('d/m/Y H:i') }} </i><br />
                        <span class="uk-margin-small-right uk-text-success uk-icon" uk-icon="icon: location"></span>De {{ ad.departure }}
                        <span class="uk-margin-small-left uk-icon" uk-icon="icon: arrow-right"></span>
                        <span class="uk-margin-left uk-text-danger uk-icon" uk-icon="icon: location"></span>A {{ ad.arrival }}<br />
                        <span class="uk-margin-small-right uk-icon" uk-icon="icon: calendar"></span><span>Date de départ : {{ ad.dateDeparture|date("d/m/Y") }}</span>
                        <span class="uk-margin-left uk-margin-small-right uk-icon" uk-icon="icon: calendar"></span><span>Date d'arrivée : {{ ad.dateArrival|date("d/m/Y") }} </span><br />
                        <span class="uk-margin-small-right uk-icon" uk-icon="icon: info"></span>Moyen de transport : {% import _self as self %}{{ self.libTransport(ad.transportMode,ad.typeAnnonce) }}<br />
                        {% if ad.nbKilos is defined  %}
                            <span class="uk-text-warning uk-margin-small-right uk-icon" uk-icon="icon: tag"></span>
                            <b>{{ ad.nbKilos }}</b> Kilos {% if ad.pricePerKilo is defined and ad.pricePerKilo is not null and ad.typeAnnonce == 2 %}| Prix au kg : {{ ad.pricePerKilo }} €<br />
                             {% endif %}
                        {% endif %}
                        <span class="uk-label {% if ad.typeAnnonce == 1  %}uk-label-third{% else %}uk-label-success{% endif %}">{{ self.libTypeAnnonce(ad.typeAnnonce) }}</span><br />
                        <span class="uk-text-bold uk-text-warning">{% if ad.typeAnnonce == 1 %}{% else %}Prix au Kilo : {{ ad.pricePerKilo }} € {% endif %}</span>
                        <ul class="uk-iconnav uk-pull-left uk-padding-remove" id="votes">
                            <li class="uk-padding-remove-left">Note de l'utilisateur  </li>
                            <li class="uk-padding-remove-left etoiles"><a href="#" class="etoile_vote" data-no="{{ ad.id }}"><span class="uk-text-yellow" uk-icon="icon: star; ratio:1"></span></a></li>
                            <li class="uk-padding-remove-left etoiles" ><a class="etoile_vote" data-no="{{ ad.id }}" href="#"><span class="uk-text-yellow" uk-icon="icon: star; ratio:1"></span></a></li>
                            <li class="uk-padding-remove-left etoiles"><a href="#" class="etoile_vote" data-no="{{ ad.id }}"><span class="uk-text-yellow"  uk-icon="icon: star; ratio:1"></span></a></li>
                            <li class="uk-padding-remove-left etoiles"><a href="#" class="etoile_vote" data-no="{{ ad.id }}"><span class="uk-text-yellow"  uk-icon="icon: star; ratio:1"></span></a></li>
                            <li class="uk-padding-remove-left etoiles"><a href="#" class="etoile_vote" data-no="{{ ad.id }}"><span class="uk-text-yellow"  uk-icon="icon: star; ratio:1"></span></a></li>
                        </ul>
                        <div class="resultat_notes">

                        </div>
                    </p>
                    <p class="uk-margin-medium-top">
                        <a href="{{ path('advert_show_logout', {'id': ad.id}) }}" class="uk-align-right uk-margin-remove uk-padding-remove-vertical  uk-button uk-button-violet uk-button-small">Voir l'annonce</a>
                        <a href="{{ path('advert_signaler', {'id': ad.id}) }}" data-id="{{ ad.id }}" class="uk-align-right uk-margin-right uk-padding-remove-vertical  uk-button uk-button-secondary uk-button-small signaler" uk-toggle="target: #modal-signal">Signaler</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>Aucune annonce ne correspond à votre recherche</p>
        {% endif %}
        {% if pagination is defined and pagination.nbPages > 0 %}
            <ul class="uk-pagination" uk-margin>
            {% if pagination.page > 1 %}
                <li>
                    <a class="ajax-pagination" href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}/1">
                        <span uk-pagination-previous></span>
                    </a>
                </li>
            {% endif %}
            {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
            {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
                <li {% if p == pagination.page %}class="uk-active"{% endif %}>
                    <a class="ajax-pagination" href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}{% if p == 1 %}/1{% endif %}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}

                {% if pagination.page < pagination.nbPages %}
                    <li>
                        <a class="ajax-pagination" href="{{ path(pagination.nomRoute,
                        pagination.paramsRoute|merge({'page': pagination.nbPages})) }}">
                            <span uk-pagination-next></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}    
{% else %}
    <div class="uk-panel">
        <p class="uk-text-lead">Résultat de votre recherche</p>
        <div uk-alert>
            <p><span class="uk-text-bold">0 résultat, </span> votre recherche ne correspond à aucune annonce.</p>
        </div>  
    </div>
{% endif %}
<!-- This is the modal -->
<div id="modal-signal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Signaler cette annonce</h2>
        <form class="uk-form-horizontal" action="{{ path('advert_signaler') }}" method="post">
            <div class="uk-margin">
                <label class="uk-label">Raison du signalement</label>
                <div class="uk-form-controls">
                    <textarea class="uk-form-width-medium uk-textarea" name="raison_signal" />
                    <input class="uk-hidden" name="advert_a_signaler"  value="" />
                </div>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                <button class="uk-button uk-button-primary" type="submit">Envoyer</button>
            </p>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('.etoile_vote').on('click', function(){
        var advertId = $(this).attr('data-no');
        var userId = ""+$(this).parent().parent().parent().attr("user-id");
        var userConnected = ""+{{ app.user.id }};
        var elementListe = $(this).parent(".etoiles");
        var noteAttribuee = elementListe.index();
        if(userConnected !== userId) {
            $.ajax({
                'type': 'POST',
                'url': '{{ path('user_notes') }}',
                'data': 'advertId=' + advertId + '&noteDonnee=' + noteAttribuee,
                'dataType':'json',
                'success': function () {
                    calculerNotes(1, noteAttribuee);
                }
            });
        }
    });
    /***
     * Fonction pour calculer le nombre de votes et les étoiles à afficher pour chaque user
     * Entre 1 et 5 votes
     * ***/
    function calculerNotes(clicked, userNote){
        /*
        * * On parcourt la liste des annonces et on met à jour le nombre d'étoiles
        */
        /* En fonction de la note on active les etoiles */
        var listeAds = $('.list-adverts').children();
        if(!clicked){
            for (var i =0; i < listeAds.length; i++) {
                var note = parseInt($(listeAds[i]).attr('user-note'));
                if (note <= 5) {
                    $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                }
                if (note > 5 && note <= 15) {
                    $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");

                }
                if (note > 15 && note <= 30) {
                    // On a une etoile
                    // On a deux etoiles etoile, on récupère les deux premières etoiles
                    $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");

                }
                if (note > 30 && note <=45) {
                    // On a une etoile
                    $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(3).addClass("notes");
                }
                if (note > 45) {
                    // On a 5 étoiles
                    // On a une etoile
                    $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(3).addClass("notes");
                    $(listeAds[i]).find(".uk-text-yellow").eq(4).addClass("notes");
                }

            }
        }else{
            if (userNote <= 5) {
                $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
            }
            if (note > 5 && note <= 15) {
                $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");

            }
            if (note > 15 && note <= 30) {
                // On a une etoile
                // On a deux etoiles etoile, on récupère les deux premières etoiles
                $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");

            }
            if (note > 30 && note <=45) {
                // On a une etoile
                $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(3).addClass("notes");
            }
            if (note > 45) {
                // On a 5 étoiles
                // On a une etoile
                $(listeAds[i]).find(".uk-text-yellow").eq(0).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(1).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(2).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(3).addClass("notes");
                $(listeAds[i]).find(".uk-text-yellow").eq(4).addClass("notes");
            }

        }

    }
    calculerNotes(0, null);

</script>
