{% extends 'base.html.twig' %}
{% block title %}
    Page d'erreur - Takinbag
{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-margin uk-column-1-1@s uk-text-center uk-padding-bottom">
            <h1 class="uk-margin">Page d'erreur</h1>
            La page demandée n'est pas accessible . Vérifier que vous avez les droits d'y accéder, sinon  <a href="{{ path('homepage') }}">revenez à la page d'accueil</a>.<br />
            <div class="uk-inline uk-width-large uk-margin">
                <img src="{{ asset('public/img/error-404.jpg') }}" alt="">
                <div class="uk-position-medium uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle"><h1>403</h1></div>
            </div>

        </div>
    </div>
{% endblock %}