{% extends 'base.html.twig' %}
{% block title %}A propos de nous | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'homepage'} %}
{% endblock %}
{% block body %}
    <div class="uk-margin-large-top uk-margin-large-bottom uk-padding-large-bottom uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid style="padding-bottom:295px;">
        <div></div>
        <div>
            {% if notification is not defined %}
            <h2 class="uk-modal-title">Contacter l'équipe Takinbag</h2>
            <p>
                {# On créé le formulaire #}
                {{ form_start(form_contact, {'attr': {'method':'POST', 'action': path('contact') } }) }}
                {{ form_row(form_contact.subject, {'attr': {'class':'uk-input uk-form-witdh-small'} }) }}
                {{ form_row(form_contact.email, {'attr': {'class':'uk-input uk-form-witdh-small'} }) }}
                {{ form_row(form_contact.message, {'attr': {'class':'uk-textarea uk-form-witdh-medium' } }) }}
            </p>
            <p class="uk-text-center">
                <input class="uk-button uk-button-primary" type='submit' value="Enregistrer">
                {{ form_end(form_contact) }}
            </p>
            {% else %}
                <div class="uk-alert-success uk-margin-large" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>
                        Votre message a bien été envoyé avec succès !.<br />
                        Nous y répondrons dans les plus brefs délais.
                    </p>
                </div>
            {% endif %}
        </div>
        <div></div>
    </div>
{% endblock %}
{% block js_customized %}
    <script type="text/javascript">
        {% if notification is defined %}
        var notif = '{{ notification }}';
        if(notif == 1){
            UIkit.notification("<span uk-icon='icon: check'></span> Message envoyé avec succès", {status:'success', pos: 'top-right', timeout:3000});
        }
        if(notif == -1){
            UIkit.notification("<span uk-icon='icon: close'></span> Une erreur s'est produite durant l'envoi du message", {status:'error', pos: 'top-right', timeout:3000});
        }
        {% endif %}
    </script>

{% endblock %}