<h3>Vérification de votre email</h3>


{# example, assuming you have a route named "login" #}
Bonjour, veuillez cliquez sur le lien : <a href="{{ url('verifierEmail', {'email': email, 'verifie': 1}) }}">vérifier mot de passe</a>.

<br /><br />

Allez, toute l'équipage de Takinbag vous souhaite bon voyage  !.<br />

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('public/img/logo.png')) }}" />