{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bravo pour votre inscription sur Takinbag!</h3>

Bonjour {{ name }}!, vous venez de vous inscrire sur notre application.

{# example, assuming you have a route named "login" #}
Pour activer votre compte et commencer à utiliser notre application, rendez vous sur le lien : <a href="{{ url('login_activation', {'hash_login': hashedLogin}) }}">Activation de compte</a>.

Merci.<br /><br />

Cordialement.<br />

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('public/img/logo.png')) }}" />