<h3>Oups !, vous avez oublié votre mot de passe</h3>


{# example, assuming you have a route named "login" #}
Bon c'est pas bien grave, cliquez sur le lien : <a href="{{ url('change_password', {'email': email}) }}">Changer de mot de passe</a>.

Voilà et ne recommencez pas, d'accord.<br /><br />

Allez, toute l'équipage de Takinbag vous souhaite bon voyage, si vous partez !.<br />

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('public/img/logo.png')) }}" />