{% extends 'base.html.twig' %}
{% block title %}Messages | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-first-column">
            {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            <div class="uk-background-default uk-padding">
                <h3>{% if app.request.get('_route') == 'message_index' %}Boite de réception{% else %}Messages envoyés{% endif %}</h3><hr />
                <table class="uk-table uk-table-divider">
                    <thead>
                    <tr>
                        <th><span class="uk-text-bold">Objet</span></th>
                        <th><span class="uk-text-bold">Corps du message</span></th>
                        <th><span class="uk-text-bold">Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if messages is defined and messages is not empty %}
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.title }}</td>
                            <td>{{ message.body }}</td>
                            <td>
                                <a class="uk-button uk-button-violet uk-button-small" href="{{ path('message_show', { 'id': message.id }) }}">Voir</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr><td class="uk-background-muted uk-text-center" colspan="3">Vous n'avez aucun message</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

