{% extends 'base.html.twig' %}
{% block title %}Messages | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
<div class="uk-container">
    <div class="uk-first-column">
        {% include 'AppBundle:partials:menu-secondary.html.twig' %}
        <div class="uk-background-default uk-padding">
            <h3 class="uk-text-lead">{{ message.title }}</h3><hr />
            <p>
                {{ message.body }}
            </p>
            <ul class="uk-list">
                <li>
                    <a class="uk-button uk-button-primary uk-button-small" href="{{ path('message_index') }}">retourner à la boite de réception</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input class="uk-button-danger uk-button uk-button-small" type="submit" value="Supprimer" />
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    
    </div>
</div>    
   
{% endblock %}
