<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Envoyer et transporter des colis entre particuliers Takinbag{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('public/css/main.min.css ')}}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<body>
{% block header %}
    {% include  ':default/partials:header.html.twig' with {'id':'homepage'} %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    {% include 'default/partials/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('public/js/main.min.js') }}"></script>
{% endblock %}
{% block js_customized %}{% endblock %}
</body>
</html>