{% extends 'base.html.twig' %}
{% block title %}Tableau de bord | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %} 
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-3-3@m uk-first-column">
                    {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            </div>
        </div>
        <div class="uk-section uk-section-default uk-padding-remove-top">
            <div class="uk-grid-match uk-child-width-1-3@m uk-grid" uk-grid>
                    <div class="uk-first-column uk-padding-small-left">
                        <div class="uk-width-auto uk-margin-small-top">
                            <a href="{{ path('user_edit', {'id':app.user.id}) }}" title="Modifier mon profil">
                                {% if app.user.avatar is null %}
                                    <img class="uk-border-pill uk-align-center uk-margin-remove-bottom" src="{{ asset('/public/img/profilneutre.jpg') }}" alt="Ajouter une photo de profil" width="150" />
                                {% else %}
                                    <img class="uk-border-pill uk-align-center uk-margin-remove-bottom" width="150" src="{{ asset(app.user.avatar) }}" alt="photo de profil" />
                                {% endif %}
                            </a>
                            <p>
                                <h4 class="uk-text-center uk-margin-remove-vertical">{{ app.user.name }} {{ app.user.lastname }}</h4>
                                <span class="uk-text-right uk-margin-small-left"><strong>{{ app.user.email }}</strong></span>
                            </p>
                            <p>
                                <span class="uk-text-center uk-margin-small-left"><a class="uk-link-text uk-text-primary" href="{{ path('user_edit', {'id':app.user.id}) }}">Modifier mon profil</a></span>
                            </p>
                            <p class="">
                            <ul class="uk-list uk-margin-small-left">
                                <li class="uk-text-success"><span class="uk-text-success uk-icon-button" uk-icon="icon: check"></span> Email vérifié</li>
                                <li class="uk-text-warning"><span class="uk-text-warning uk-icon-button" uk-icon="icon: warning"></span> Pièce d'identité vérifiée</li>
                                <li class="uk-text-warning"><span class="uk-text-warning uk-icon-button" uk-icon="icon: warning"></span> Téléphone vérifié</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="uk-margin-top">
                        <div class="">
                            <b class="uk-text-success">Note de confiance</b>
                            <ul class="uk-list">
                                <li>Niveau <b>Débutant</b></li>
                                <li>Nombre d'avis <b>aucun</b></li>
                                <li>
                                    <ul>
                                        <li>Note de l'utilisateur:</li>
                                        <li>
                                            {% if app.user.note <=5 %}
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            {% endif %}
                                            {% if app.user.note > 5 and app.user.note <= 25 %}
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            {% endif %}
                                            {% if app.user.note > 25 and app.user.note <= 35 %}
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
=                                            {% endif %}
                                            {% if app.user.note > 35  and  app.user.note <=45 %}
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            {% endif %}
                                            {% if app.user.note > 45 %}
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            <span class="uk-icon-button uk-icon notes uk-text-warning" uk-icon="icon: star"></span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p>
                                <b class="uk-text-primary">Historique des colis envoyés</b>
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date d'envoi</th>
                                        <th>Nombre de kg</th>
                                        <th>Destination</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in liste_adverts_send %}
                                    <tr>
                                        <td>{{ l.datemaj|date('d/m/Y') }}</td>
                                        <td>{{ l.nbKilos }}</td>
                                        <td>{{ l.arrival }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </p>
                            <p class="uk-margin-top">
                                <b class="uk-text-success">Historique des colis transportés</b>
                                <table class="uk-table uk-table-striped">
                                    <thead>
                                    <tr>
                                        <th>date du voyage</th>
                                        <th>nombre de kg</th>
                                        <th>destination</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in liste_adverts_taken %}
                                        <tr>
                                            <td>{{ l.datemaj|date('d/m/Y') }}</td>
                                            <td>{{ l.nbKilos }}</td>
                                            <td>{{ l.arrival }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </p>
                        </div>

                    </div>
            </div>
        </div>
    </div>
{% endblock %}