{% extends 'base.html.twig' %}
{% block title %}Recevoir de l'argent | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-3-3@m uk-first-column">
            {% include 'AppBundle:partials:menu-secondary.html.twig' %}
        </div>
    </div>
    <div class="">
        <div class="uk-background-default uk-margin">
            <div class="uk-padding">
                {# vos coordonnées bancaires #}
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-2-3@s uk-first-column">
                        {% if success is defined and success==1 %}
                            <div class="uk-alert uk-alert-success">
                            Le compte Stripe a été activé avec succès !
                        </div>
                        {% elseif success is defined  and success == 2 %}
                            <div class="uk-alert uk-alert-primary">
                                Votre compte Stripe est déjà activé, vos paiements seront versé sur le compte avec les informations bancaires suivantes <a href="{{ path('invoices_done') }}">Infos bancaires</a>
                            </div>
                        {% else %}    
                        <legend class="uk-legend">Création d'un compte Stripe</legend>
                        <form class="my-form" action="{{ path('create_account', {'id':app.user.id}) }}" method="post">
                            <input type="hidden" name="token" id="token">
                            <label>
                                <span>Prénom</span>
                                <input class="inp-first-name uk-input" name="first_name">
                            </label>
                            <label>
                                <span>Nom</span>
                                <input class="inp-last-name uk-input" name="last_name">
                            </label>
                            <fieldset>
                                <legend>Adresse</legend>
                                <label>
                                    <span>Rue </span>
                                    <input class="inp-street-address1 uk-input" name="street_address1">
                                </label>
                                <label>
                                    <span>Ville</span>
                                    <input class="inp-city uk-input" name="city">
                                </label>
                                <label>
                                    <span>Pays</span>
                                    <input class="inp-state uk-input" name="state">
                                </label>
                                <label>
                                    <span>Code Postal </span>
                                    <input class="inp-zip uk-input" name="zip">
                                </label>
                                <label>
                                    <p><br /><br />En cliquant sur ce bouton, vous acceptez <a href="{{ path('cgv') }}">nos Conditions Générales d'Utilisation</a> ainsi que les <a href="https://stripe.com/fr/connect-account/legal">Conditions d'Utilisation des Comptes Connectés Stripe</a></p>
                                </label>
                            </fieldset>
                            <input type="submit" class="uk-button" />
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%  block javascripts_2 %}
    <script type="text/javascript">
        const stripe = Stripe('pk_test_iGs06rC1voQw2x8lSwOlix8H');
        const myForm = document.querySelector('.my-form');
        myForm.addEventListener('submit', handleForm);

        async function handleForm(event) {
            event.preventDefault();
            const result = await stripe.createToken('account', {
                legal_entity: {
                    first_name: document.querySelector('.inp-first-name').value,
                    last_name: document.querySelector('.inp-last-name').value,
                    address: {
                        line1: document.querySelector('.inp-street-address1').value,
                        city: document.querySelector('.inp-city').value,
                        state: document.querySelector('.inp-state').value,
                        postal_code: document.querySelector('.inp-zip').value,
                    },
                },
                tos_shown_and_accepted: true,
            });

            if (result.token) {
                document.querySelector('#token').value = result.token.id;
                myForm.submit();
            }
        }
    </script>
    {% endblock %}