{% extends 'base.html.twig' %}
{% block title %}Paiements effectués | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
<div class="uk-container">
    <div class="uk-grid" uk-grid>
        <div class="uk-width-3-3@m uk-first-column">
            {% include 'AppBundle:partials:menu-secondary.html.twig' %}
        </div>
    </div>
    <div class="">
        <div class="uk-background-default uk-margin">
            <div class="uk-padding">
                {# vos coordonnées bancaires #}
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-2-3@s uk-first-column">
                        {{ form_start(form, {'class':'uk-form-horizontal paiement','method':'POST','action': path('invoices_done')}) }}
                            {% if rib_saved == 1 %}
                                <div class="uk-alert-success" uk-alert>
                                    <a class="uk-alert-close" uk-close></a>
                                    <p>Vos informations bancaires ont été sauvegardées avec succès !</p>
                                </div>
                            {% endif %}
                        <fieldset class="uk-fieldset">
                                <legend class="uk-legend">Vos informations de paiement</legend>
                                <p>Pour vous régler vos missions en tant que transporteur nous avons besoin de vos coordonnées bancaires,
                                Merci de les renseigner pour que nous réalisions les paiements
                                </p>
                                <div class="uk-margin">
                                    {{ form_row(form.iban, {'label':'*IBAN : ','attr':{'class':'uk-input uk-form-width-large  uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.bic, {'label':'*BIC (ou SWIFT) : ','attr':{'class':'uk-input uk-form-width-large uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.nomTitulaire, {'label':'*Nom du titulaire : ','attr':{'class':'uk-input uk-form-width-large uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.adresse, {'label':'*Adresse : ','attr':{'class':'uk-input uk-form-width-large uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.codePostal, {'label':'*Code postal : ','attr':{'class':'uk-input uk-form-width-large uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.ville, {'label':'*Ville : ','attr':{'class':'uk-input uk-form-width-large uk-float-right'}}) }}
                                </div>
                                <div class="uk-margin">
                                    {{ form_row(form.enregistrer, {'attr':{'class':'uk-button uk-button-primary uk-text-center'}}) }}
                                </div>
                            </fieldset>
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <h3 class="uk-h3 uk-margin-left uk-padding-top ">Liste des paiements effectués</h3>
                <hr />
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead class="uk-background-muted">
                        <tr>
                            <th><span class="uk-text-bold">Date de la transaction </span></th>
                            <th><span class="uk-text-bold">n° de transaction</span></th>
                            <th><span class="uk-text-bold">Montant(en euros)</span></th>
                            <th><span class="uk-text-bold">email</span></th>
                            <th><span class="uk-text-bold">Type de carte</span></th>
                            <th><span class="uk-text-bold">Statut</span></th>
                        </tr>
                    </thead>
                    <tbody class="uk-background-default">
                            {% if invoices is defined and invoices is not null %}
                            {% for key,i in invoices %}
                            <tr>
                                {% for p in i %}
                                <td>{{ p }}</td>
                                {% endfor %}    
                            </tr>
                            {% endfor %}    
                            {% else %}
                                <tr><td colspan="6"><span class="uk-alert">Aucune transaction n'a été enregistrée</span></td></tr>
                            {% endif %}    
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
