{% extends 'base.html.twig' %}
{% block title %}Inscription | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="PageInscription" class="uk-padding">
        <div id="blocRegistration" class="uk-margin-remove-vertical uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-background-muted uk-padding" style="background: transparent;"></div>
            </div>
            <div>
                <div class="uk-background-muted uk-padding" style="background: #FFFFFF;color:#888;">
                    <div class="uk-container">
                        {{ form_start(formUser, {'action': path('suscribe'),'method':'POST', 'class':'uk-form-stacked uk-width-1-3@s'}) }}
                            {% if form_errors(formUser) is not empty   %}
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>
                                    Un problème est survenu lors de l'enregistrement de votre compte
                                </p>
                            </div>
                            {% endif %}    
                            {% if insc_reussie is defined and insc_reussie  == 1 %}
                            <div class="uk-alert-success">
                                <p>
                                    Bravo, votre inscription à notre site a été validée.
                                    Vous avez reçu un email de notre part, veuillez cliquer sur le lien qui y est renseigné pour activer votre compte.
                                </p>
                            </div>
                            {% endif %}
                            
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">Créer un compte</legend>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.name) }}
                                </div>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.lastname) }}
                                </div>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.email) }}
                                </div>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.phone) }}
                                </div>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.username) }}
                                </div>
                                <div class="uk-margin">
                                    {{  form_widget(formUser.password) }}
                                </div>
                            </fieldset>
                        {{ form_end(formUser) }}
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-background-secondary uk-padding uk-light" style="background: transparent;"></div>
            </div>
        </div>
    </div>
{% endblock %}