{% extends 'base.html.twig' %}
{% block title %}A propos de nous | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
            <h3 class="uk-article-title">La sécurité de vos colis</h3>
            <p>
                <h5 class="uk-lead">L'anonymat et la sécurité de vos colis font partie de notre principe fondamental</h5>
                Dès le départ, nous avons pensé Takinbag pour la sécurité de vos colis.
                Voici le plan de sécurité que nous avons mis en place pour assurer le suivi de vos colis Takinbag :
                <ul class="uk-list">
                    <li>1- Les colis sont échangés devant un agent habilité Takinbag, de cette façon, il ya un témoin en cas de litige</li>
                    <li>2- Tous les profils de transporteurs sont vérifiés, nous demandons une pièce d'identité en cours de validité pour tout transport</li>
                    <li>3- Une vérification est faite par le transporteur à la remise du colis, il s'assure alors que le colis ne contient rien de prohibé et respecte les contraintes de sécurité</li>
                    <li>4- Un état des lieux du contenu est établi et signé par les 2 parties pour empêcher toute réclamation par une tierce partie</li>
                    <li>5- L'assurance souscrite par Takinbag prend en charge les éventuels dommages survenus lors du transport du colis à hauteur de <b>2000 euros</b></li>
                    <li>6- Les colis sont mis sous scellé et, la clé mise sous enveloppe badgée, n'est utilisée que si c'est la douane qui demande d'ouvrir le bagage</li>
                </ul>
            </p>
        </article>
    </div>    
{% endblock %}