{% extends 'base.html.twig' %}
{% block title %}Tableau de bord | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-3-3@m uk-first-column">
                {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            </div>
        </div>
        <div class="uk-section uk-section-default uk-padding-remove-top">
            <div class="uk-container">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-4">
                        <div class="uk-card  uk-card-body">
                            <ul class="uk-list uk-list-divider">
                                <li>

                                    <a href="#">Téléphone <span uk-icon="icon: check"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('verifierEmail', {'email':app.user.email, 'verifie':1}) }}">Email <span uk-icon="icon: close"></span></a>
                                </li>
                                <li>
                                    <a href="#modifParams">Pièce d'identité <span uk-icon="icon: close"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-width-3-4">
                        <div class="uk-card uk-card-body">
                            {% if app.request.attributes.get('verifie') == 0 %}
                            <div class="uk-alert-primary" uk-alert>
                                Vous venez de recevoir un email au <strong>{{ app.user.email }}</strong> , cliquez sur le lien pour vérifier votre adresse mail.
                            </div>
                            {% else %}
                                <div class="uk-alert-success" uk-alert>
                                    Votre adresse mail a été vérifiée avec succès
                                </div> 
                            {% endif %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}