{% extends 'base.html.twig' %}
{% block body %}
        <div id="summary" class="uk-section uk-section-secondary">
            <div class="uk-text-center" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-card uk-card-body"><h1 class="uk-heading-primary uk-text-center uk-text-bold">Livrez vos colis entre particuliers</h1></div>
                </div>
            </div>
            <div class="uk-container">

                <p class="uk-text-large uk-text-center uk-text-white">
                    Livraison de colis de particulier à particulier
                </p>
                <div class="uk-grid uk-child-width-expand@s uk-text-center" uk-grid>
                    <div></div>
                    <div>
                        {% if app.user.pseudo is not defined %}
                        <a class="uk-button uk-button-danger uk-border-rounded uk-margin-top" href="{{ path('suscribe') }}">
                            inscrivez-vous, c'est gratuit
                        </a>
                        {% else %}
                        <a class="uk-button uk-button-danger uk-border-rounded uk-margin-top" href="{{ path('search_home') }}">
                            Envoyez un colis
                        </a>
                        {% endif %}
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="uk-section uk-section-muted uk-padding-small">
            <div class="uk-container">
                <div id="nextBlock" class="uk-grid-match uk-child-width-1-3@m uk-grid" uk-grid="">
                    <div class="uk-first-column">
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="{{ asset('public/img/simple.jpg') }}" alt="Simple">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove">Simple</h3>
                                <p>Mettez vous en contact avec les voyageurs qui disposent d'espace disponible dans leurs bagages.
                                    Utilisez Takinbag pour les trouver et bénéficier de tarifs jusqu'à <b>80% moins cher</b> pour vos expéditions de colis dans le monde <b>(Gabon, Sénégal, Tunisie, Kenya, France, Etats-Unis, Inde)</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="{{ asset('public/img/rapide.jpg') }}" alt="Rapide">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove">Rapide</h3>
                                <p> Vous réglez en ligne une <b>somme de 3 euros</b>, pour vous mettre en contact avec le voyageur,
                                    Takinbag ne prend aucune commission supplémentaire sur les transactions effectuées avec le voyageur.
                                    L'inscription se fait en <b>20 secondes</b> montre en main.
                                    L'ajout d'une annonce en moins de <b>5 minutes</b> en moyenne.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="{{ asset('public/img/convivial.jpg') }}" alt="">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title uk-margin-remove">Convivial</h3>
                                <p>Inscrivez-vous et commencez à chercher un voyageur ou ajoutez votre annonce si vous êtes un voyageur.
                                    Les prix sont fixés librement par les voyageurs transporteurs.
                                    Une fois payée, vou êtes mis en contact avec le voyageur.
                                    Rencontrez les voyageurs qui vont transporter vos colis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


