$icon-font-path:'../fonts/';
$body-background-color:#1B0937;
$white-color:#ffffff;
$middle-background-color:#185695;
$global-violet-color:#260753;
$secondary-color:#A262FF;
$global-link-color:#eee;
$html-background-color:#F5F5F6;
$content-background-color:#F0CCE2;
$background-button-primary:#220354;
$third-color:#643266;
$black:#000000;
$separated-block:#e5e5e5;
$global-inverse-color:#ffffff;
$padding-small-padding:15px;
$margin-medium-margin:40px;
$border-color-section:#e2e2e2;
$orange:orange !important;

