// 1. Your custom variables and variable overwrites.
@import "../../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../../node_modules/@chenfengyuan/datepicker/src/css/datepicker.scss";
@import "../../../node_modules/uikit/src/scss/variables.scss";
@import "_variables";

body{
  background-color: $html-background-color;
  :focus:not([tabindex^='-']){
    outline:none !important;
  }
  .footer.uk-section-secondary{
    background-color:$secondary-color;
  }
  .uk-text-primary{
    color:$global-violet-color !important;
  }
  .uk-text-success, .uk-label-success{
    background-color:$secondary-color !important;
    color:$white-color !important;
  }
  .uk-label-third{
    background-color:$third-color;
    color:$white-color !important;
  }
  .uk-text-color-secondary{
    color: $secondary-color;
  }
  .button-upload{
    text-transform: none;
  }
  .profil-details{
    border-right:1px solid $separated-block;
  }
  .uk-button-violet{
    color:$global-inverse-color;
    background-color: $background-button-primary;
  }
  .uk-form-icon-flip+.uk-input{
    padding-right: 32px;
  }
  .uk-link, a{
    color:$global-link-color;
    &:hover{
      color:$global-violet-color;
      text-decoration: none;
    }
  }

  .uk-list.annonces_resultats{
    padding:5px !important;
  }

  #large-content{
    padding-bottom:137px;
    #blockSearch{
      padding:$padding-small-padding;
      margin-top:$margin-medium-margin;
      border:1px solid $border-color-section;
    }
  }
  #header{
    .uk-navbar-container.uk-navbar-transparent.menu-responsive{
      background-color: $global-violet-color;
      li{
         color:$global-inverse-color;
      }
      .uk-navbar-toggle span {
        color:$global-inverse-color;
      }
      .uk-navbar-nav>li>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus{
        color:$global-inverse-color;
      }
    }
  }
  #summary{
    background:#000000 url('../img/background_homepage.jpg') no-repeat center 31%;
    .uk-text-white{
      color:$global-inverse-color;
    }
  }
  .background-green{
    background-color:$secondary-color;
    .uk-navbar-nav{
      li > a {
        color:$white-color;
        font-weight: bold;
        .uk-icon {
          color:$black;
        }
      }
      li {
        .uk-navbar-dropdown-nav{
          li > a {
            color:$black;
          }
        }

      }
    }

  }
  .border-gray {
    border:2px solid $global-violet-color;
  }
  .notes.uk-icon [fill='none']:not(.uk-preserve) { fill: $orange ; }
  .notes.uk-icon [stroke*='#']:not(.uk-preserve) { stroke: $orange ; }
}
@import "../../../node_modules/uikit/src/scss/uikit-theme.scss";

