{% extends 'base.html.twig' %}
{% block title %}A propos de nous | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
            <h1 class="uk-article-title">Vous allez adorer envoyer des colis à vos proches à l'étranger</h1>
            <p>
                L'année dernière, plus de 6 millions de bagages, pour 10 millions de voyageurs ont transité via l'aéroport Roissy-Charles De Gaulle (Paris),  Il importait de résoudre le problème du transport facile et rapide des objets et des biens entre les particuliers.
                malgré cela, il est très difficile de trouver un voyageur de confiance pour envoyer un colis à un proche vivant à l'étranger. 
                Takingbag met en relation des personnes désireuses d'envoyer des colis à leurs proches vivant à l'étranger et ces nombreux voyageurs qui acceptent de les transporter en échange d'une aide pécuniaire battant toute concurrence qu'ils fixent au kilogramme.</p>
            <p class="uk-margin-small-top">
                <h5 class="uk-text-lead">L'ubérisation des colis</h5>
                La <b>mission de Takingbag</b> est de simplifier la prise de contact entre ces millions de voyageurs et ces expéditeurs de colis dispersés dans le monde pour créer un vaste circuit communautaire et de réduction des émissions de CO2.
                Ainsi, un utilisateur qui se trouve à Bordeaux pourra trouver sur l’application, un voyageur habitant Bordeaux qui se rend à Los Angeles, Etats-Unis et lui confier des objets à transporter vers cette destination.
            </p>
            <h5 class="uk-text-lead">Une équipe jeune portée vers l'innovation technologique</h5>
            <p>Takinbag est un projet lancé par des jeunes entrepreneurs français, motivés et créatifs.<br>
                Le projet est parti d'une idée simple :<br>
            faciliter la mise en relation des voyageurs avec les particuliers qui souhaitent envoyer des colis à leurs proches à l'étranger.
            </p>
            <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                        <h5 class="uk-card-title">Une équipe jeune et dynamique</h5>
                        <p>
                            <img src="{{ asset('public/img/equipe.jpg') }}" alt="une équipe jeune" />
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                        <h5 class="uk-card-title">Un service de qualité</h5>
                        <p>
                            <img src="{{ asset('public/img/techno.jpg') }}" alt="un service de qualité" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Zicklr</h3>
                        <p>
                            <img src="{{ asset('public/img/fox.png') }}" alt="Zicklr, Ninja" />
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Leflem</h3>
                        <p>
                            <img src="{{ asset('public/img/koala.jpg') }}" alt="un service de qualité" />
                        </p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Charles</h3>
                        <img src="{{ asset('public/img/charles.jpg') }}" alt="un service de qualité" />
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}