{% extends 'base.html.twig' %}
{% block title %}Informations légales | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="info-legale" class="uk-section uk-section-primary uk-section-media uk-light uk-padding-xlarge uk-background-cover">
        <h1 class="uk-text-gray uk-text-bold uk-flex uk-flex-middle uk-flex-center uk-margin-top-xlarge uk-margin-bottom-xlarge">Conditions générales</h1>
    </div>
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
                <ul uk-accordion>
                    <li class="uk-open">
                        <h3 class="uk-accordion-title">Article 1 : Définitions</h3>
                        <div class="uk-accordion-content">
                            <p>
                                Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales de Vente du Service takinbag ( ci-après dénommées les « CGV » ) la signification suivante :
                                Annonce : désigne l'ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale exclusive, en vue d'expédier ou d'envoyer un colis et diffusé sur le Site Internet.
                                
                                Compte Personnel : désigne l'espace gratuit que tout Annonceur doit se créer et auquel il doit se connecter depuis le Site Internet, afin  de diffuser, gérer, visualiser ses annonces, souscrire à une ou des option(s) payante(s) et acheter des accès à un numéro de téléphone de voyageur annonceur.

                                Zicklr Inc : désigne la société qui édite et exploite le Site Internet dont le siège social est situé 15, rue du Bac d'Asnières 92110 Clichy-La-Garenne.

                                Service takinbag : désigne les services takinbag mis à la disposition des Utilisateurs et des Annonceurs sur le Site Internet .

                                Site Internet : désigne le site internet exploité par Zicklr Inc accessible principalement depuis l'URL www.takinbag.com et permettant aux Utilisateurs et aux Annonceurs d'accéder via internet au Service takinbag .

                                Utilisateur : désigne tout visiteur, ayant accès au Service takinbag via le Site Internet et consultant le Service takinbag accessible depuis les différents supports.
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">Article 2 : Objet</h3>
                            <div class="uk-accordion-content">
                                <p>Les présentes Conditions Générales de Vente (CGV) établissent les conditions contractuelles applicables à toute souscription, par un Annonceur connecté à son Compte Personnel, d'achat d'accès à un numéro de téléphone depuis le Site Internet.</p>
                            </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">Article 3 : Inscription à la Plateforme et création de Compte</h3>
                            <div class="uk-accordion-content">
                                <p>
                                    Toute souscription d'option(s) payante(s) et/ou achat de crédits par un Annonceur vaut acceptation pleine et entière des CGV en vigueur.
                                </p>
                            </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">Inscription à la Plateforme et création de Compte</h3>
                            <div class="uk-accordion-content">
                                <p>
                                    <b>3.1. Conditions d’inscription à la Plateforme</b>
                                    L’utilisation de Plateforme est réservée aux personnes physiques âgées de 18 ans ou plus. Toute inscription sur la Plateforme par une personne mineure est strictement interdite. En accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou plus.

                                    3.2. Création de Compte
                                    La Plateforme permet aux Membres de publier et consulter des Annonces ainsi que d’interagir entre eux pour la réservation de Place. Vous pouvez consulter les Annonces même si vous n’êtes pas inscrit sur la Plateforme. En revanche, vous ne pouvez ni publier une Annonce ni réserver une Place sans avoir, au préalable, créé un Compte et être devenu Membre.

                                    Pour créer votre Compte, vous pouvez :

                                    (i) soit remplir l’ensemble des champs obligatoires figurant sur le formulaire d’inscription ;
                                    (ii) soit vous connecter, via notre Plateforme, à votre compte Facebook (ci-après, votre « Compte Facebook »). En utilisant une telle fonctionnalité, vous comprenez que takinbag aura accès, publiera sur la Plateforme et conservera certaines informations de votre Compte Facebook. Vous pouvez à tout moment supprimer le lien entre votre Compte et votre Compte Facebook par l’intermédiaire de la rubrique « Vérifications » de votre profil. Si vous souhaitez en savoir plus sur l’utilisation de vos données dans le cadre de votre Compte Facebook, consultez notre Politique de Confidentialité et celle de Facebook.
                                    Pour vous inscrire sur la Plateforme, vous devez avoir lu et accepter les présentes CGU ainsi que la Politique de Confidentialité.

                                    A l’occasion de la création de votre Compte, et ce quelle que soit la méthode choisie pour ce faire, vous vous engagez à fournir des informations personnelles exactes et conformes à la réalité et à les mettre à jour, par l’intermédiaire de votre profil ou en en avertissant takinbag, afin d’en garantir la pertinence et l’exactitude tout au long de votre relation contractuelle avec takinbag.

                                    En cas d’inscription par email, vous vous engagez à garder secret le mot de passe choisi lors de la création de votre Compte et à ne le communiquer à personne. En cas de perte ou divulgation de votre mot de passe, vous vous engagez à en informer sans délai takinbag. Vous êtes seul responsable de l’utilisation faite de votre Compte par un tiers, tant que vous n’avez pas expressément notifié takinbag de la perte, l’utilisation frauduleuse par un tiers ou la divulgation de votre mot de passe à un tiers.

                                    Vous vous engagez à ne pas créer ou utiliser, sous votre propre identité ou celle d’un tiers, d’autres Comptes que celui initialement créé.

                                    3.3. Vérification
                                    takinbag peut, à des fins de transparence, d’amélioration de la confiance, ou de prévention ou détection des fraudes, mettre en place un système de vérification de certaines des informations que vous fournissez sur votre profil. C’est notamment le cas lorsque vous renseignez votre numéro de téléphone ou nous fournissez une pièce d’identité.

                                    Vous reconnaissez et acceptez que toute référence sur la Plateforme ou les Services à des informations dites « vérifiées » ou tout terme similaire, signifie uniquement qu’un Membre a réussi avec succès la procédure de vérification existante sur la Plateforme ou les Services afin de vous fournir davantage d’informations sur le Membre avec lequel vous envisagez de voyager. takinbag ne garantit ni la véracité, ni la fiabilité, ni la validité de l’information ayant fait l’objet de la procédure de vérification.
                                </p>
                            </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">Article 4 : Utilisation des Services</h3>
                            <div class="uk-accordion-content">
                                <p>
                                    En tant que Membre, et sous réserve que vous remplissiez les conditions ci-dessous, vous pouvez créer et publier des Annonces sur la Plateforme en indiquant des informations quant au Trajet que vous comptez effectuer (dates/heures et lieux de départ et d’arrivée, nombre de kilogrammes disponibles, montant du kilogramme à transporter, etc.).

                                    Vous n’êtes autorisé à publier une Annonce que si vous remplissez l’ensemble des conditions suivantes :
                                    <ul class="uk-list uk-list-bullet">
                                    <li>(1) vous ne proposez des Annonces que pour lesquelles vous pouvez assurer preuve à l'appui, le transport, ou pour lesquels vous assurez preuve à l'appui, de confier à un voyageur que vous aurez choisi  ;</li>
                                    <li>(2) vous êtes et demeurez l'annonceur principal de l'expédition ou du transport de colis, objet de l’Annonce ;
                                    </li>
                                    <li>(3) vous n’avez aucune contre-indication ou incapacité médicale à voyager ;</li>
                                    <li>(4) le moyen de transport que vous comptez utiliser pour le transport du colis est un véhicule habilité et dont vous avez payé le droit d'accès à bord;</li>
                                    <li>(5) vous ne comptez pas publier une autre annonce pour le même Trajet sur la Plateforme ;</li>
                                    <li>(6) vous n’offrez pas plus de Places que celles disponibles dans votre véhicule ;</li>
                                    </ul>
                                    Vous reconnaissez être le seul responsable du contenu de l’Annonce que vous publiez sur la Plateforme. En conséquence, vous déclarez et garantissez l’exactitude et la véracité de toute information contenue dans votre Annonce et vous engagez à effectuer le Trajet selon les modalités décrites dans votre Annonce.

                                    Sous réserve que votre Annonce soit conforme aux CGU, elle sera publiée sur la Plateforme et donc visible des Membres et de tous visiteurs, même non Membre, effectuant une recherche sur la Plateforme ou sur le site internet des partenaires de TakinBag. TakinBag se réserve la possibilité, à sa seule discrétion et sans préavis, de ne pas publier ou retirer, à tout moment, toute Annonce qui ne serait pas conforme aux CGU ou qu’elle considérerait comme préjudiciable à son image, celle de la Plateforme ou celle des Services.

                                    Vous reconnaissez et acceptez que les critères pris en compte dans le classement et l’ordre d’affichage de votre Annonce parmi les autres Annonces relèvent de la seule discrétion de takinbag.
                                </p>
                            </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">Article 5 : Conditions financières</h3>
                            <div class="uk-accordion-content">
                                <p>
                                    <b>5.1. Participation aux Frais</b><br />
                                    Le montant de la Participation aux Frais est déterminé par vous, en tant que Conducteur, sous votre seule responsabilité. Il est strictement interdit de tirer le moindre bénéfice du fait de l’utilisation de notre Plateforme. Par conséquent, vous vous engagez à limiter le montant de la Participation aux Frais que vous demandez à vos Passagers aux frais que vous supportez réellement pour effectuer le Trajet. A défaut, vous supporterez seul les risques de requalification de l’opération effectuée par l’intermédiaire de la Plateforme.

                                    Lorsque vous publiez une Annonce, takinbag vous suggère un montant de Participation aux Frais qui tient compte notamment de la nature du Trajet et de la distance parcourue. Ce montant est purement indicatif et il vous appartient de le modifier à la hausse ou à la baisse pour tenir compte des frais que vous supportez réellement sur le Trajet. Afin d’éviter les abus, takinbag limite les possibilités d’ajustement du montant de la Participation aux Frais.<br />

                                    <b>5.2. Frais de Service</b><br />
                                    Dans le cadre des Trajets avec Réservation, takinbag prélève, en contrepartie de l’utilisation de la Plateforme, au moment de la Réservation, des frais de service (ci-après, les « Frais de Service ») calculés sur la base du montant de la Participation aux Frais. Les modalités de calcul des Frais de Service en vigueur sont accessibles ici.

                                    Les Frais de Service sont perçus par takinbag pour chaque Place faisant l’objet d’une Réservation par un Passager.

                                    En ce qui concerne les trajets transfrontaliers, veuillez noter que les modalités de calcul du montant des Frais de Services et de la TVA applicable varient selon le point de départ et/ou d’arrivée du Trajet.

                                    Lorsque vous utilisez la Plateforme pour des Trajets transfrontaliers ou hors de France, les Frais de Services peuvent être facturés par une société affiliée de takinbag éditant la plateforme locale.<br />

                                    <b>5.3. Arrondis</b><br />
                                    Vous reconnaissez et acceptez que takinbag peut, à son entière discrétion, arrondir au chiffre inférieur ou supérieur les Frais de Service et la Participation aux Frais.
                                </p>
                            </div>
                    </li>
                   
                </ul>
        </article>
    </div>
{% endblock %}