{% extends 'base.html.twig' %}
{% block title %}Informations légales | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="info-legale" class="uk-section uk-section-primary uk-section-media uk-light uk-padding-xlarge uk-background-cover">
        <h1 class="uk-text-gray uk-text-bold uk-flex uk-flex-middle uk-flex-center uk-margin-top-xlarge uk-margin-bottom-xlarge">Politique de confidentialité</h1>
    </div>
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
            <p>
            <h5>1. Généralités</h5>
                ZICKLR INC (dont le siège social est situé au 15, Rue du bac D'Asnières, 92110 Clichy-La-Garenne, France) (« takinbag », « nous » et « notre »), en sa qualité de responsable du traitement, attache une grande importance à la protection et au respect de votre vie privée. La présente politique vise à vous informer de nos pratiques concernant la collecte, l’utilisation et le partage des informations que vous êtes amenés à nous fournir par le biais de notre plateforme (la « Plateforme ») accessible depuis le site internet www.takinbag.com  ou nos applications mobiles.<br />

                Cette politique (ainsi que nos Conditions générales d’utilisation et tout document auquel il y est fait référence ainsi que notre Charte sur les Cookies) présente la manière dont nous traitons les données personnelles que nous recueillons et que vous nous fournissez. Nous vous invitons à lire attentivement le présent document pour connaître et comprendre nos pratiques quant aux traitements de vos données personnelles que nous mettons en œuvre.<br/>

            <h5>2. Les informations que nous recueillons</h5>
                Nous sommes susceptibles de recueillir et de traiter les données suivantes :<br />

                2.1. Les informations que vous nous transmettez directement
                En utilisant nos Plateformes, vous êtes amenés à nous transmettre des informations, dont certaines sont de nature à vous identifier (« Données Personnelles »). C’est notamment le cas lorsque vous remplissez des formulaires (comme par exemple le formulaire d’inscription), lorsque vous participez à l’un de nos jeux, concours, offres promotionnelles, études ou sondages, lorsque vous nous contactez – que ce soit par téléphone, email ou tout autre moyen de communication – ou lorsque vous nous faites part d’un problème.

                Ces informations contiennent notamment les données suivantes :

                2.1.1. Les données nécessaires à l’inscription au service que nous fournissons sur nos Plateformes ou à l’accès à tout autre service fournis par nous. Ces données sont notamment vos nom et prénom, adresse e-mail, date de naissance, sexe, numéro de téléphone et mot de passe. Ces informations sont obligatoires. A défaut, takinbag ne sera pas en mesure de vous fournir les services proposés par nos Plateformes et vous ne serez pas autorisés à créer de compte sur notre Plateforme ;

             

                2.1.3. Une adresse postale ;

     

          

                2.1.6. Une copie de tous les échanges intervenus entre vous et takinbag ;

                2.1.7. Une copie de l’ensemble des réservations ou des publications effectuées sur nos Plateformes ;

                2.1.8. Le détail des opérations financières ou comptables effectuées sur nos Plateformes ou par tout autre moyen, contenant notamment les informations relatives à votre carte de paiement, vos données bancaires, les informations relatives aux trajets réservés ou pour lesquels vous avez publié une annonce sur nos Plateformes ;

                2.1.9. Le détail de vos visites sur nos Plateformes et des contenus auxquels vous avez accédé ;

                2.1.10. Le cas échéant, vos réponses à nos sondages et questionnaires et les avis que vous avez laissés pour évaluer un trajet effectué avec un autre membre de notre communauté, ces informations étant notamment susceptibles d’être utilisées dans le cadre de recherches et d’analyses du comportement utilisateur ;

                2.1.11. Les données que nous pouvons vous demander de fournir lorsque vous nous signalez un problème relatif à nos Plateformes ou à nos services, comme par exemple l’objet de votre demande d’assistance ;

                2.1.12. Les données liées à votre localisation lorsque vous avez accepté que nous collections et traitions ces données ;

                2.1.13. Une copie de votre passeport, votre permis de conduite, votre carte d’identité ou tout autre document similaire que vous avez accepté de nous fournir.

                2.2. Les données que nous recueillons automatiquement
                2.2.1. Dans le cas où vous vous connectez à nos services en utilisant les fonctionnalités de réseaux sociaux mises à votre disposition, takinbag aura accès à certaines des données (notamment, vos prénom, nom de famille, photographie, adresse e-mail et nombre d’amis Facebook) de votre compte sur ledit réseau social conformément aux conditions générales d’utilisation du réseau social concerné  Nous sommes également susceptibles de recueillir certaines de vos Données Personnelles lorsque vous interagissez avec des fonctionnalités de ces réseaux sociaux, tel que les fonctionnalités « J’aime ».

                2.2.2. Lors de chacune de vos visites, nous sommes susceptibles de recueillir, conformément à la législation applicable et avec votre accord, le cas échéant, des informations relatives aux appareils sur lesquels vous utilisez nos services ou aux réseaux depuis lesquels vous accédez à nos services, tels que notamment vos adresses IP, données de connexion, types et versions de navigateurs internet utilisés, types et versions des plugins de votre navigateur, systèmes et plateformes d’exploitation, données concernant votre parcours de navigation sur nos Plateformes, notamment votre parcours sur les différentes pages URL de nos Plateformes, le contenu auquel vous accédez ou que vous consultez, les termes de recherches utilisés, les erreurs de téléchargement, la durée de consultation de certaines pages, l’identifiant publicitaire de votre appareil, les interactions avec la page ainsi que tout numéro du téléphone utilisé pour nous contacter. Parmi les technologies utilisées pour recueillir ces informations, nous avons notamment recours aux cookies (pour en savoir plus à ce sujet, veuillez vous référer à notre Charte sur les Cookies).

                2.2.3. Nous recueillons également des informations sur votre utilisation de notre Plateforme (telles que le nombre d’annonces publiées, votre taux de réponse aux messages, votre date d’inscription, votre moyenne d’avis reçus, etc.) qui sont susceptibles d’être affichées sur votre profil public.

                2.3. Durée de conservation de vos données
                2.3.1. A l’exception des catégories de Données Personnelles visées aux articles 2.3.2. et 2.3.3. ci-dessous, vos Données Personnelles sont archivées à l’issue des périodes suivantes:

                5 ans après votre dernière utilisation de nos Plateformes, si vous n’avez pas fermé votre compte;
                1 an après la fermeture de votre compte, sauf si vous avez reçu un avis négatif ou un signalement, auquel cas vos données sont conservées pendant 2 ans suivant le dernier avis négatif ou signalement reçu si cette durée est plus longue.
                2.3.2. Les catégories de Données Personnelles suivantes sont susceptibles d’être conservées pour des durées différentes :

                Les données financières (par exemple les paiements, remboursements, etc.) sont conservées pour la durée requise par les lois applicables en matière fiscale et comptable ;
                Les données relatives à l’émission de Certificats d’économie d’énergie liés à la carte carburant ou lavage Total sont conservées pour la durée réglementaire de 6 ans à compter de l’envoi de ladite carte ;
                Les contenus créés par vous sur nos Plateformes (tels que les commentaires, avis et notation) sont rendus anonymes passés les délais mentionnés au 2.3.1 mais demeurent visibles sur nos Plateformes.
                2.3.3. Dans l’hypothèse où votre compte a été suspendu ou bloqué, nous conservons vos données pour une durée variant de 2 à 10 ans à compter de la suspension afin d’éviter tout contournement de votre part des règles en vigueur sur nos Plateformes.

            <h5>3. Comment utilisons-nous les données que nous recueillons ?</h5>
                Nous utilisons les données que nous recueillons afin de:

                3.1. exécuter les contrats conclus entre vous et nous et vous fournir les informations et services demandés ;

                3.2. vous envoyer des renseignements sur nos services (comme par exemple, les confirmations de réservation)  par e-mail, SMS ou tout autre moyen de communication ;

                3.3. percevoir vos paiements ou vous transmettre les sommes collectées pour votre compte ;

                3.4. vous permettre de personnaliser votre profil sur nos Plateformes ;

                3.5. vous permettre de communiquer et d’échanger avec les autres membres de notre communauté, notamment en ce qui concerne nos services ou le(s) trajets(s) déjà effectués ou que vous prévoyez d’effectuer ;

                3.6. vous donner accès et vous permettre de communiquer avec notre service de relation membre ;

                3.7. nous assurer du respect de (i) la législation applicable, (ii) nos conditions générales d’utilisation, (iii) notre politique de confidentialité et (iv) notre charte de bonne conduite. En cas de manquements de votre part, nous pourrons être amenés à suspendre votre compte sur nos Plateformes ;

                3.8. vous envoyer, conformément aux dispositions légales applicables et avec votre accord lorsque la législation l’exige, des messages marketing, publicitaires et promotionnels et des informations relatives à l’utilisation de nos services, aux modalités de réservation, ou vous suggérer et vous conseiller des biens ou des services susceptibles de vous intéresser. Nous sommes également susceptibles d’utiliser vos données pour vous adresser des messages publicitaires susceptibles de vous intéresser sur les plateformes de réseaux sociaux ou sites de tiers. Si vous souhaitez davantage d’informations à ce sujet, nous vous invitons à prendre connaissance des documents contractuels de ces plateformes ;

                3.9. afin de vous informer des modifications apportées à nos services ;

                3.10. vérifier les informations contenues dans votre passeport, permis de conduire, carte d’identité ou tout autre document d’identité que nous aurions collecté lors de votre inscription ou votre utilisation de nos Plateformes ;

                3.11. gérer nos Plateformes et effectuer des opérations techniques internes dans le cadre de résolution de problèmes, analyse de données, de tests, recherches, analyses, études et sondages ;

                3.12. améliorer et optimiser nos Plateformes, notamment pour nous assurer de ce que l’affichage de nos contenus est adapté à votre appareil ;

                3.13. vous permettre d’utiliser les fonctionnalités interactives de nos services si vous le souhaitez ;

                3.14. nous aider à la préservation d’un environnement sain et sécurisé sur nos Plateformes ; et

                3.15. évaluer l’efficacité des messages publicitaires que nous adressons et les adapter à nos membres.

            <h5>4. Qui sont les destinataires des informations que nous recueillons et pourquoi leur transmettons nous ces informations ?</h5>
                4.1. Dans le cadre de l’utilisation de nos services, certaines de vos informations sont transmises aux autres membres de notre communauté, par l’intermédiaire de votre profil public ou dans le cadre du processus de réservation (par exemple nous communiquons votre numéro de téléphone aux personnes avec qui vous allez voyager).

                4.2. Nous sommes également susceptibles de partager des informations vous concernant, notamment des Données Personnelles, avec d’autres entités du groupe takinbag dans le cadre prévu par la présente politique.

                4.3. Nous travaillons également en étroite collaboration avec des entreprises tierces qui peuvent avoir accès à vos Données Personnelles, et notamment avec :

                les plateformes de réseaux sociaux qui peuvent vous proposer des fonctionnalités vous permettant d’intégrer dans votre profil takinbag des informations issues de votre compte sur leur propre plateforme ;
                nos partenaires commerciaux qui font la promotion de leurs services sur nos Plateformes et auxquels vous pouvez décider de souscrire. Ces services peuvent notamment consister en des services d’assurance, des services bancaires, des services de location de véhicules, etc. Par exemple nous sommes susceptibles de fournir certaines de vos informations à Axa pour confirmer votre éligibilité au programme d’assurance ;
                nos partenaires commerciaux sur le site internet desquels nous pouvons éventuellement faire de la publicité pour nos services ;
                les sous-traitants auxquels nous recourons en matière de prestations techniques, services de paiement, vérification d’identité ou encore les fournisseurs de solutions analytiques et les entreprises de recouvrement et organismes de crédit.
                4.4. Nous ne partageons vos données avec les tiers mentionnés au 4.3. ci-dessus que dans les cas suivants :

                4.4.1. Lorsque nous faisons appel à un prestataire de services dans le cadre de l’exécution de tout contrat conclu entre vous et nous ou afin de fournir ou améliorer nos services (par exemple dans le cadre des paiements effectués via nos Plateformes) ;

                4.4.2. Dans le cadre du processus de réservation, nous sommes amenés, afin de fournir les services demandés, à afficher sur nos Plateformes ou à transmettre à un autre membre certaines de vos Données Personnelles telles que vos prénom, photographie, numéro de téléphone portable ou adresse e-mail ;

                4.4.3. Nous publions les avis que vous rédigez dans le cadre de notre système d’avis sur nos Plateformes. Ces avis, qui contiennent votre prénom et la première lettre de votre nom ainsi que votre photographie sont visibles par tous les visiteurs de nos Plateformes ;

                4.4.4. Lorsque nous faisons appel à des fournisseurs de moteurs de recherche et de solutions analytiques pour améliorer et optimiser nos Plateformes ;

                4.4.5. lorsque vous en faites la demande expresse (par exemple lorsque vous utilisez les méthodes d’authentification fournies par les réseaux sociaux) ;

                4.4.6. Lorsque nous diffusons, sur les sites internet de nos partenaires commerciaux, certaines parties de nos Plateformes (dont les trajets que vous avez postés) par l’intermédiaire d’API ou de widgets. Dans ce cas, certaines informations issues de votre profil public pourront également être affichées sur ces sites ;

                4.4.7. Lorsque nous avons l’obligation légale de le faire ou si nous pensons de bonne foi que cela est nécessaire pour (i) répondre à toute réclamation à l’encontre de takinbag, (ii) se conformer à toute demande judiciaire, (iii) faire exécuter tout contrat conclu avec nos membres, tel que les Conditions Générales d’Utilisation et la présente Politique de Confidentialité (iv) en cas d’urgence mettant en jeu la santé publique ou l’intégrité physique d’une personne, (v) dans le cadre d’enquêtes et d’investigations, ou (vi) afin de garantir les droits, les biens et la sécurité de takinbag, ses membres et plus généralement tout tiers ;

                4.4.8. Dans l’hypothèse où nous vendrions ou acquérions une entreprise ou des actifs, auquel cas nous nous réservons la possibilité de partager vos Données Personnelles avec le potentiel vendeur ou acheteur de cette entreprise ou de ces actifs.

                4.4.9. Si takinbag ou tout ou partie de ses actifs sont rachetés par un tiers, les données en notre possession seront, le cas échéant, transférées au nouveau propriétaire.

                4.4.10. Conformément à la législation applicable et avec votre consentement lorsqu’il est requis, nous pouvons agréger des données qui vous concernent et que nous recevons ou envoyons à nos partenaires commerciaux, notamment tout ou partie de vos Données Personnelles et les informations collectées par l’intermédiaire de cookies. Ces informations agrégées ne seront utilisées que pour les finalités décrites ci-dessus.

                4.4.11. Nous attirons votre attention sur le fait que si vous décidez de nous laisser accéder à certaines de vos informations, notamment à vos Données Personnelles, par l’intermédiaire de services de connexion mis à disposition par nos partenaires commerciaux, leurs politiques de confidentialité vous est également opposable. Nous n’avons aucun contrôle sur la collecte ou le traitement de vos données mis en œuvre par nos partenaires commerciaux sur leur propre plateforme.

            <h5>5. Comment utilisons nous et modérons nous vos messages ?</h5>
                5.1. Nous pouvons prendre connaissance les messages que vous échangez avec d’autres membres de notre communauté via nos Plateformes notamment à des fins de prévention des fraudes, d’amélioration de nos services, d’assistance utilisateur, de vérification du respect par nos membres des contrats conclus avec nous et notamment de nos Conditions Générales d’Utilisation. Par exemple, afin d’éviter qu’un membre ne contourne notre système de réservation en ligne, nous nous autorisations à parcourir et analyser les messages échangés sur nos Plateformes afin de s’assurer qu’ils ne contiennent aucune coordonnée ou référence à d’autres sites internet.

                5.2. Nous ne prenons jamais connaissance de vos communications avec d’autres membres de notre communauté à des fins promotionnelles ou de ciblage publicitaire. Lorsque cela est possible, nous avons recours à des systèmes automatisés pour procéder à la modération des messages transmis entre les membres via nosPlateformes.

            <h5>6. Publicité ciblée, e-mails et SMS que nous vous envoyons</h5>
                Conformément à la législation applicable et avec votre consentement lorsqu’il est requis, nous pourrons utiliser les données que vous nous fournissez sur nos Plateformes à des fins de prospection commerciale (par exemple pour (i) vous adresser nos newsletters, (ii) vous envoyer des invitations à nos événements ou toute autre communication susceptible de vous intéresser et (iii) afficher des publicités ciblées sur les plateformes de médias sociaux ou sites tiers).

                En ce qui concerne les emails promotionnels : Vous pouvez à tout moment retirer votre consentement en (i) décochant la case afférente dans votre compte, (ii) cliquant sur le lien de désinscription fourni dans chacune de nos communications ou (iii) en nous contactant selon les modalités décrites à l’article 13 ci-dessous.

                En ce qui concerne la publicité ciblée :

                Sur les plateformes de réseaux sociaux (par exemple Facebook, Twitter): vous pouvez vous opposer à tout moment à ce traitement en configurant les paramètres relatifs à la publicité de votre compte ;
                Sur des sites tiers: vous pouvez vous reporter à notre Charte sur les Cookies pour comprendre comment retirer votre consentement.
            <h5>7. Vos données sont-elles transférées, comment et où ?</h5>
                Nous conservons vos Données Personnelles dans l’Union Européenne. Toutefois, il est possible que les données que nous recueillons lorsque vous utilisez nos Plateformes ou dans le cadre de nos services soient transférés dans d’autres pays, certains d’entre eux pouvant avoir une législation sur la protection des données personnelles moins protective que celle en vigueur dans le pays où vous résidez.

                C’est notamment le cas en ce qui concerne les données transmises à nos sous-traitants situés en dehors de l’Union Européenne, notamment aux Etats-Unis. Nous pouvons faire appel à leurs services pour répondre à vos demandes, modérer les photographies publiées sur nos Plateformes, fournir des outils de paiement en ligne, nous fournir des services commerciaux et publicitaires ou des services d’emailing et de SMS.

                C’est également le cas en ce qui concerne les sociétés affiliées à takinbag situées en dehors de l’Union Européenne à qui nous pouvons transférer certaines de vos données dans le cadre de la fourniture de nos services dans ces pays.

                En cas de transfert de ce type, nous nous assurons de ce que le traitement soit effectué conformément à la présente politique et qu’il soit encadré par les clauses contractuelles types de la Commission Européenne qui permettent de garantir un niveau de protection suffisant de la vie privée et des droits fondamentaux des personnes.

                Sur simple demande, nous pouvons vous fournir la liste des pays où nous conservons vos données et ceux où elles transitent occasionnellement.

            <h5> 8. Quels sont vos droits sur vos données personnelles ?</h5>
                8.1. Lorsque cela est prévu par la législation applicable, vous avez le droit d’obtenir une copie des données personnelles vous concernant que nous détenons. Avant de répondre à votre demande, nous sommes susceptibles de (i) vérifier votre identité et (ii) vous demander de nous fournir davantage d’informations pour répondre à votre demande.

                8.2. Nous nous efforcerons de donner suite à votre demande dans un délai raisonnable et, en tout état de cause, dans les délais fixés par la loi. Si vous souhaitez exercer ce droit, contactez-nous selon les modalités indiquées à l’article 13 ci-dessous.

                En tant que membre de nos Plateformes, vous avez également la possibilité d’accéder aux Données Personnelles que nous détenons à travers votre compte pour corriger, modifier ou supprimer toute information incorrecte. Vous vous engagez à nous fournir des informations complètes, exactes, valides et à jour. Vous pouvez également fermer votre compte en ligne en tout temps.

                Vous pouvez également modifier ou supprimer ces informations en nous contactant directement (voir article 13 ci-dessous).

                Veuillez noter que nous sommes susceptibles de conserver certaines informations vous concernant lorsque la loi nous l’impose ou lorsque nous avons un motif légitime de le faire. C’est par exemple le cas, si nous estimons que vous avez commis une fraude ou violé nos Conditions Générales d’Utilisation et que nous souhaitons éviter que vous contourniez les règles applicables à notre communauté.

                8.3. Vous disposez également du droit de définir des directives relatives au sort de vos Données Personnelles après votre mort.

                8.4. Dispositions relatives aux données personnelles dans le cadre de l’opération portant sur les cartes carburant et cartes lavage :
                Les informations recueillies dans le cadre de la demande de cartes carburant ou de cartes lavage font l’objet d’un traitement informatique destiné au dépôt de dossiers de demandes de certificats d’économie d’énergie par la société Total Marketing France. Vous bénéficiez d’un droit d’accès aux informations qui vous concernent ainsi que d’un droit de rectification et de suppression de ces informations, que vous pouvez exercer en vous adressant à Total Marketing France. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant, en vous adressant à Total Marketing France, Département CEE, 562 avenue du parc de l’ile, 92000 Nanterre.

                Les informations recueillies font également l’objet d’un traitement informatique destiné à éviter les double-comptes de certificats d’économies d’énergie. Le destinataire des données est le Ministère en charge de l’Énergie. Vous bénéficiez d’un droit d’accès aux informations qui vous concernent ainsi que d’un droit de rectification et de suppression de ces informations, que vous pouvez exercer en vous adressant au Pôle National Certificats d’économies d’énergie, Direction Générale de l’Énergie et du Climat, MEEM, Tour Pascal, 92055 La Défense Cedex. Vous pouvez également, pour des motifs légitimes, vous opposez aux traitements des données vous concernant.

            <h5>9. Cookies et technologies semblables</h5>
                Pour en savoir plus, consultez notre Charte sur les Cookies.

            <h5>10. Confidentialité de votre mot de passe</h5>
                Vous êtes responsable de la confidentialité du mot de passe que nous vous avez choisi pour accéder à votre compte sur nos Plateformes.

                Vous vous engagez à conserver ce mot de passe secret et à ne le communiquer à personne.

            <h5>11. Liens vers d’autres sites internet et réseaux sociaux</h5>
                Nos Plateformes peuvent occasionnellement contenir des liens vers les sites internet de nos partenaires ou de sociétés tierces. Veuillez noter que ces sites internet ont leur propre politique de confidentialité et que nous déclinons toute responsabilité quant à l’utilisation faite par ces sites des informations collectées lorsque vous cliquez sur ces liens. Nous vous invitons à prendre connaissance de politiques de confidentialité de ces sites avant de leur transmettre vos Données Personnelles.

            <h5>12. Modification de notre politique de confidentialité</h5>
                Nous pouvons être amené à modifier occasionnellement la présente politique de confidentialité. Lorsque cela est nécessaire, nous vous en informerons et/ou solliciterons votre accord. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.

            <h5>13. Contact</h5>
                Pour toute question relative à la présente politique de confidentialité ou pour toute demande relative à vos données personnelles, vous pouvez nous contacter en ligne en remplissant ce formulaire ou en nous adressant un courrier à l’adresse mentionnée en tête du présent document.
            </p>
        </article>
    </div>
{% endblock %}