{% extends 'base.html.twig' %}
{% block title %}Utilsation des cookies | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="info-legale" class="uk-section uk-section-primary uk-section-media uk-light uk-padding-xlarge uk-background-cover">
        <h1 class="uk-text-gray uk-text-bold uk-flex uk-flex-middle uk-flex-center uk-margin-top-xlarge uk-margin-bottom-xlarge">Utilisation des cookies</h1>
    </div>
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
            <p>
                Les cookies sont de petits fichiers informatiques stockés sur le disque dur de votre ordinateur pour une durée déterminée chaque fois que vous consultez un site web. Via une chaîne de caractères générée aléatoirement, ils permettent de vous identifier comme utilisateur unique lors d’une session (visite) d’un site web.
            </p>
            <p>
                L’utilisation de cookies par un site web peut répondre à différents besoins:

                Ils assurent le bon fonctionnement technique du site en permettant de garder en mémoire, le temps de votre visite, certaines des actions que vous avez effectuées ou les données que vous avez saisies ceci afin de faciliter votre navigation sur les pages du site. On parle dans ce cas-là de cookies de sessions. Ils peuvent être utilisés, en autre, pour la gestion des paniers et dans tout le processus d’achat d’un site marchand. Ils servent aussi à maintenir votre connexion d’une page à l’autre pour les sites qui proposent une authentification de l’utilisateur. Ils sont également utilisés pour maintenir, durant toute la durée d’une session, vos choix de personnalisation de l’interface ou des contenus.
                Il existe des cookies plus spécifiquement destinés à mesurer l’audience du site.
                D’autres types de cookies jouent un rôle dans la gestion de différentes formes de publicité sur Internet en fournissant à l’administrateur du site des données lui permettant de suivre l’évolution des campagnes publicitaires ou en proposant des contenus publicitaires en relation avec vos centres d’intérêts.
                Les cookies sont stockés sur votre ordinateur par le serveur du site que vous visitez mais dans certains cas ils peuvent provenir d’un serveur différent quand la page web en cours de consultation fait appel, en partie, à des contenus extérieurs. C’est très souvent le cas quand la page affiche, par exemple, des bannières publicitaires.

                Les cookies dits « temporaires » sont effacés automatiquement de votre ordinateur dès que vous refermez votre navigateur. Les « cookies permanents » restent stockés sur votre disque dur suivant une durée fixée par l’administrateur du site. Les cookies permanents vous permettent de retrouver vos éléments de personnalisation chaque fois que vous revenez visiter le site et tant que la date d’expiration du cookie n’a pas été atteinte.

                Comment gérer, interdire ou limiter le stockage des cookies sur votre ordinateur ?
                Tous les navigateurs web permettent de maîtriser la gestion des cookies sur votre ordinateur en vous offrant la possibilité de les effacer après la navigation ou en vous permettant de définir votre propre politique de gestion des cookies avant toute navigation. Vous aurez le choix entre interdire le stockage de tout type de cookies sur votre ordinateur ou autoriser certains types de cookies et en interdire d’autres.

                La procédure à suivre est différente en fonction du navigateur que vous utilisez.

                Vous trouverez ci-dessous des liens vers les procédures de gestion des cookies des navigateurs les plus courants:

                Internet Explorer
                Firefox
                Safari
                Google Chrome
                Opera
                Quels types de cookies sont utilisés sur notre site ?
                Cookies tiers utilisés pour l’affichage des bannières publicitaires et la mesure de l’audience.
                Cookies de suivi d’audience et d’analyse des campagnes publicitaires.
            </p>
        </article>
    </div>
{% endblock %}