{% extends 'base.html.twig' %}
{% block title %}Informations légales | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="info-legale" class="uk-section uk-section-primary uk-section-media uk-light uk-padding-xlarge uk-background-cover">
        <h1 class="uk-text-gray uk-text-bold uk-flex uk-flex-middle uk-flex-center uk-margin-top-xlarge uk-margin-bottom-xlarge">Informations légales</h1>
    </div>
    <div class="uk-container uk-container-small uk-position-relative uk-padding">
        <article class="uk-article">
            <p>
                Takinbag marque déposée de Zicklr, exerçant également sous le nom de Takinbag.<br />
                <b>siret</b> : 79312524600017 <br />
                <b>Adresse</b> : 15, rue du Bac d'Asnières 92110 Clichy-La-Garenne<br />
                <b>Téléphone</b>  : 06 18 52 04 95<br />
                <b>E-mail</b> : <a class="uk-link" href="#">support@takinbag.com</a>  <br />
                <b>Directeur de publication</b> : John Kevson. <br />
                <b>Prestataire d’hébergement</b> : Gandi, 	domiciliée au 63 BOULEVARD MASSENA - 75013 PARIS.<br />
                <b>Téléphone</b> : +33 08 90 10 93 31.
            </p>
        </article>
    </div>
{% endblock %}