<nav class="uk-navbar-container uk-padding-remove uk-navbar uk-navbar-transparent background-green" uk-navbar="">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav uk-padding-remove">
            <li><a class="{% if app.request.get('_route') =='dashboard' %}uk-active{% endif %} menu-secondaire" href="{{ path('dashboard') }}"><span class="uk-margin-small-right uk-icon" uk-icon="icon: home"></span> Tableau de bord</a></li>
            <li>
                <a class="{% if app.request.get('_route') =='advert_index' %}uk-active{% endif %}" href="{{ path('advert_index') }}" class="menu-secondaire" aria-expanded="false">Annonces</a>
            </li>
            <li><a class="{% if app.request.get('_route') =='user_edit' %}uk-active{% endif %}" href="{{ path('user_edit', {'id': app.user.id}) }}" class="menu-secondaire">Profil</a></li>
            <li>
                <a class="{% if app.request.get('_route') =='message_index' or  app.request.get('_route') =='message_send'%}uk-active{% endif %}" href="{{ path('message_index') }}" class="menu-secondaire">Messages</a>
                <div class="uk-navbar-dropdown uk-margin-remove-top">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a class="{% if app.request.get('_route') =='message_index' %}uk-active{% endif %}" href="{{ path('message_index') }}">Messages reçus</a></li>
                        <li><a class="{% if app.request.get('_route') =='message_send' %}uk-active{% endif %}" href="{{ path('message_send') }}">Messages envoyés</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="{% if app.request.get('_route') =='annonces_recues' %}uk-active{% endif %}" href="{{ path('annonces_recues',{'id_user':app.user.id}) }}" class="menu-secondaire">Propositions recues</a></li>
            <li><a class="{% if app.request.get('_route') =='annonces_envoyees' %}uk-active{% endif %}" href="{{ path('annonces_envoyees',{'id_user':app.user.id}) }}" class="menu-secondaire">Propositions envoyées</a></li>
            <li><a class="{% if app.request.get('_route') =='invoices_done' %}uk-active{% endif %}" href="{{ path('invoices_done') }}" class="menu-secondaire">Paiements</a></li>
            <li><a class="{% if app.request.get('_route') =='create_account' %}uk-active{% endif %}" href="{{ path('create_account', {'id':app.user.id}) }}" class="menu-secondaire">Recevoir son argent</a></li>
        </ul>
    </div>
</nav>