<div class="uk-section uk-section-secondary footer">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-4@m uk-grid" uk-grid="">
            <div class="uk-first-column">
                <h5 class="uk-margin-remove-bottom">Produit</h5>
                <ul class="uk-list uk-link-text uk-margin-remove-top">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('search_home') }}">Rechercher une annonce</a></li>
                    <li><a href="{{ path('about') }}">Qui sommes-nous ?</a></li>
                    {%  if app.request.attributes.get("_route") == 'homepage' %}
                        <li><a href="{{ path('contact') }}"><span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"></span> Contact</a></li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <h5>Aide</h5>
                <ul class="uk-list uk-link-text uk-margin-remove-top">
                    <li><a href="{{ path('legal_info') }}">Informations légales</a></li>
                    <li><a href="{{ path('cgv') }}">Conditions générales</a></li>
                    <li><a href="{{ path('confidentialite') }}">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div>
                <h5>Communauté</h5>
                <ul class="uk-list uk-link-text uk-margin-remove-top">
                    <li><a  class="uk-icon-button" href="https://twitter.com/TakinbagManager" uk-icon="icon: twitter"></a> Twitter</li>
                    <li><a class="uk-icon-button" href="https://www.facebook.com/ProductManager88/" uk-icon="icon: facebook"></a> Facebook</li>
                    <li><a class="uk-icon-button" href="https://www.youtube.com/channel/UCWwfsZ-xs3JGvwrAqrN6Upw" uk-icon="icon: youtube"></a> Chaine Youtube</li>
                    <li><a class="uk-icon-button"  href="https://aboutme.google.com/u/0/b/108604370585479232918/#profile_photo" uk-icon="icon: google-plus"></a> Google+</li>
                </ul>
            </div>
            <div>
                <h5>Trajets les plus demandés</h5>
                <ul class="uk-list uk-link-text uk-margin-remove-top">
                    <li><a href="#">Paris-Libreville</a></li>
                    <li><a href="#">Libreville-Paris</a></li>
                    <li><a href="#">Paris-Kinshasa</a></li>
                    <li><a href="#">Paris-Dakar</a></li>
                    <li><a href="#">Marseille-Brazzaville</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%  if app.request.attributes.get("_route") == 'homepage' and app.request.cookies.get('takinbag_first_visit') == false %}
<nav class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed uk-active uk-sticky-bottom" style="position:fixed;bottom: 0px; width: 1925px;background-color:#222222;">
    <div class="uk-container uk-background-secondary">
        <div class="uk-navbar">
            <div class="uk-navbar-center uk-padding-bottom-remove uk-padding-top-remove" uk-alert style="background-color: transparent;padding-bottom:0">
                <a class="uk-alert-close" uk-close style="color:white;"></a>
                <h3></h3>
                <p class="uk-text-white uk-text-small">Nous utilisons des cookies pour améliorer notre site.
                    Si vous ne prenez pas la fuite, c'est que vous n’avez rien contre les cookies. <a class="uk-text-white uk-button uk-button-primary uk-button-small uk-text-small acceptCookie" href="{{ path('put_cookie') }}">Accepter</a>  <a class="uk-button uk-button-small uk-button-danger uk-margin-left uk-text-white uk-text-small uk-margin-right" href="{{ path('cookies') }}">En savoir plus </a>
                </p>
            </div>
        </div>
    </div>
</nav>
{% endif %}
