<div id="header">
<!-- Menu mobile -->
        <nav class="uk-navbar uk-navbar-transparent uk-navbar-container menu-responsive uk-box-shadow-medium uk-hidden@m" id="{{ id }}" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#" uk-toggle="target: #menu-mobile">
                    <span uk-icon="icon: menu; ratio:2"></span>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a href="{{ path('homepage') }}/" class="uk-navbar-item uk-logo">
                    <img src="{{ asset('/public/img/logo.png') }}" alt="Takinbag, envoyer et transporter vos colis" />
                </a>
            </div>
        </nav>
        <div class="uk-offcanvas-content">
            <div id="menu-mobile" uk-offcanvas="mode: push; overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
                        <li class="uk-margin-bottom"><a href="#">Menu</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a class="uk-text-bold" href="{{ path('advert_new') }}">
                                    <span class="uk-margin-small-right uk-icon" uk-icon="icon: plus-circle"></span>  Déposer une annonce
                                </a>
                            </li>
                            <li>
                                <a class="uk-text-bold" href="{{ path('search_result', {'page':'1'}) }}">
                                    <span class="uk-margin-small-right uk-icon" uk-icon="icon: search"></span>  Chercher une annonce
                                </a>
                            <li>
                            <li>
                                <a href="#profile"><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"></span>
                                    <span class="uk-text-bold">{{ app.user.username }} </span>      <span uk-icon="icon:  chevron-down;ratio:1.5"></span>
                                </a>
                                <div uk-dropdown="mode: click;" class="uk-light">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a  class="uk-nav-header" href="{{ path('dashboard') }}">Tableau de bord</a></li>
                                        <li><a class="link" href="/advert">Annonces</a></li>
                                        <li><a href="{{ path('message_index') }}">Messages</a></li>
                                        <li><a href="{{ path('user_edit', {'id':app.user.id}) }}">Profil</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{ path('invoices_done') }}">Paiements</a></li>
                                        <li><a href="{{ path('create_account', {'id':app.user.id}) }}">Recevoir son argent</a></li>
                                        <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="">
                            <a class="uk-link-reset" href="{% if app.user.pseudo is defined %}{{ path('advert_new') }}{% else %}{{ path('login') }}{% endif %}">Déposer une annonce</a>
                            </li>
                            <li>
                                <a class="uk-link-reset" href="{{ path('security') }}">Sécurité</a>
                            </li>
                            <li>
                                <a class="uk-link-reset" href="{{ path('login') }}">Se Connecter</a>
                            </li>
                            <li>
                                <a class="uk-link-reset" href="{{ path('suscribe') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Menu desktop -->
        <nav class="uk-navbar-container uk-navbar uk-navbar-transparent menu-responsive uk-visible@m" uk-navbar="" id="{{ id }}">
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left"><div>
                        <ul class="uk-navbar-nav">
                            {% if app.user.role is defined and app.user.role is not empty %}
                                <li>
                                    <a class="uk-text-bold" href="{{ path('advert_new') }}">
                                        <span class="uk-margin-small-right uk-icon" uk-icon="icon: plus-circle"></span>  Déposer une annonce
                                    </a>
                                </li>
                                <li>
                                    <a class="uk-text-bold" href="{{ path('search_result', {'page':'1'}) }}">
                                        <span class="uk-margin-small-right uk-icon" uk-icon="icon: search"></span>  Chercher une annonce
                                    </a>
                                <li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <a class="uk-navbar-item uk-logo" href="{{ path('homepage') }}">
                    <img src="{{ asset('/public/img/logo.png') }}" alt="Takinbag, envoyer et transporter vos colis" />
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="#profile"><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"></span>
                                <span class="uk-text-bold">{{ app.user.username }} </span>      <span uk-icon="icon:  chevron-down;ratio:1.5"></span>
                            </a>
                            <div uk-dropdown="mode: click;" class="uk-light">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a  class="uk-nav-header" href="{{ path('dashboard') }}">Tableau de bord</a></li>
                                    <li><a class="link" href="/advert">Annonces</a></li>
                                    <li><a href="{{ path('message_index') }}">Messages</a></li>
                                    <li><a href="{{ path('user_edit', {'id':app.user.id}) }}">Profil</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{ path('invoices_done') }}">Paiements</a></li>
                                    <li><a href="{{ path('create_account', {'id':app.user.id}) }}">Recevoir son argent</a></li>
                                    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}

                        <li><a class="uk-text-bold" href="{{ path('login') }}"><span class="uk-margin-small-right uk-icon" uk-icon="icon: sign-in"></span> Se connecter</a></li>
                        <li><a class="uk-text-bold" href="{{ path('suscribe') }}"><span class="uk-margin-small-right uk-icon" uk-icon="icon: user"></span>S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Fin menu -->
</div>