    {% extends 'default/index.html.twig' %}
{% block title %} Modification d'une annonce | Takinbag {% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}

{% block body %}
    
    <div class="uk-container uk-background-default">
        <div class="uk-grid-collapse uk-child-width-expand@m uk-text-center" uk-grid>
            <div></div>
            <div class="uk-section uk-section-default uk-margin-small uk-padding-small">
                <h3 class="uk-margin-top">Modification de l'annonce du {{ advert.created|date('d-m-Y') }}</h3>
                {{ form_start(edit_form, {'attr': {'class':'uk-form-horizontal'}}) }}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Nombre de Kilos</label>
                    <div class="uk-form-controls">
                        {{ form_widget(edit_form.nbKilos, {'label':'', 'attr':{'class':'uk-input uk-form-width-small'}}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Prix au kg</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.pricePerKilo, {'label':false}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Départ</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.departure, { 'label':false}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Arrivée</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.arrival, {'label': false}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Date départ</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.dateDeparture, {'label' : false, 'attr': { 'class':'uk-forms-controls uk-input uk-form-width-medium datepicker-date  uk-align-right', 'data-toggle':'datepicker'}}) }}
                    </div>
                </div>
                {% if advert.typeAnnonce == 2 %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Date d'arrivée</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.dateArrival,{'label' : false, 'attr': { 'widget':'single-text','class':'uk-forms-controls uk-input uk-form-width-medium datepicker-date  uk-align-right', 'data-toggle':'datepicker'} }) }}
                    </div>
                </div>
                {% endif %}
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Type d'annonce</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.typeAnnonce, {'label':false}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Mode de transport</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.transportMode, {'label':false, 'attr': {'class':'uk-select uk-form-width-large'}}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text">Commentaires</label>
                    <div class="uk-form-controls">
                    {{ form_row(edit_form.restrictions, {'label':false, 'attr':{'class':'uk-textarea'}}) }}
                    </div>
                </div>
                <div class="uk-margin">
                    {{ form_end(edit_form, {'render_rest':false}) }}
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-h-text"></label>
                    <div class="uk-form-controls uk-pull-left">
                    <input class="uk-button-violet uk-button" type="submit" value="Enregistrer" />
                    </div>
                </div>
            </div>
            <div> 
                <ul class="uk-list uk-margin-large-top">
                    <li>
                        <a class="uk-button uk-button-secondary" href="{{ path('advert_index') }}">Retour à vos annonces</a>
                    </li>
                    {% if app.user is not null and app.user.id == advert.user.id %}
                    <li>
                        {{ form_start(delete_form) }}
                        <input  class="uk-button-danger uk-button" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                    {% endif %}
                </ul>
            </div>  
        </div>
    </div>


   
{% endblock %}
