<div uk-alert>
    <table class="uk-table uk-table-justify uk-table-divider">
        <thead>
        <tr>
            <th class="uk-width-small">Nombre de kgs à réserver</th>
            <th>Prix au kilogramme en euros</th>
            <th>Total à Payer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ nbKilos }}</td>
            <td>{{ prixAuKg }} €</td>
            <td>{{ price }} €</td>
        </tr>
        <tr>
            <td>Moyens de paiement</td>
            <td>
                Par CB : <br />
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ public_key }}"
                        data-amount="{{ price*100 }}"
                        data-name="Takinbag"
                        data-description="Widget"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur"
                        id="charging">
                </script>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% block javascripts_2 %}
    
{% endblock %}