{% extends 'base.html.twig' %}
{% block title %}Liste des annonces | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-3-3@m uk-first-column">
                {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            </div>
        </div>
        <div class="">
            <div class="uk-background-default uk-margin uk-padding">
                <div class="uk-margin">
                </div>
                <div class="uk-margin">
                    <p class="uk-text-success uk-text-bold">Mes annonces d'envoi<hr /></p>
                    {% macro libTransport(nbT, tPa) %}
                        {% if tPa == 2 %}
                            {% if nbT == 1 %}
                                Avion
                            {% elseif nbT == 2 %}
                                Bateau
                            {% elseif nbT == 3 %}
                                Train
                            {% elseif nbT == 4 %}
                                Voiture
                            {% endif %}
                        {% else %}
                            --
                        {% endif %}
                    {% endmacro %}
                    <table class="uk-table uk-table-striped uk-table-hover">
                        <thead>
                        <tr>
                            <th><span class="uk-text-bold uk-text-capitalize">Quantité</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Départ</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Arrivée</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Statut de l'annonce</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Editer</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for advert in adverts_envoi %}
                            <tr>
                                <td>{{ advert.nbKilos }}</td>
                                <td>{{ advert.departure }}, le {% if advert.dateDeparture is not null %}{{ advert.dateDeparture|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ advert.arrival }}</td>
                                <td>{% if advert.statutPublication == 0 %}Envoyé{% else %}En cours{% endif %}</td>
                                <td>
                                    <ul class="uk-switcher">
                                        <li class="uk-active">
                                            <ul class="uk-iconnav">
                                                <li><a href="{{ path('advert_show_logout', { 'id': advert.id }) }}" uk-icon="icon: search" title="Voir l'annonce"></a></li>
                                                <li><a href="{{ path('advert_delete', { 'id': advert.id }) }}" uk-icon="icon: trash" title="Supprimer l'annonce"></a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="uk-text-primary uk-text-bold">Mes annonces de transport <hr /></p>
                    <table class="uk-table uk-table-striped uk-table-hover">
                        <thead>
                        <tr>
                            <th><span class="uk-text-bold uk-text-capitalize">Quantité</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Départ</span></th>
                            <th><span class="uk-text-bold uk-text-capitalize">Arrivée</span></th>
                            <th><span class="uk-text-bold">Mode de déplacement</span></th>
                            <th><span class="uk-text-bold">Statut de l'annonce</span></th>
                            <th><span class="uk-text-bold">Editer</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for advert in adverts_transport %}
                            <tr>
                                <td>{{ advert.nbKilos }}</td>
                                <td>{{ advert.departure }}, le {% if advert.dateDeparture is not null %}{{ advert.dateDeparture|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ advert.arrival }}, le {% if advert.dateArrival is not null %}{{ advert.dateArrival|date('Y-m-d') }}{% endif %}</td>
                                <td>{% import _self as self %}{{ self.libTransport(advert.transportMode,advert.typeAnnonce) }}</td>
                                <td>{% if advert.statutPublication == 0 %}Envoyé{% else %}En cours{% endif %}</td>
                                <td>
                                    <ul class="uk-switcher">
                                        <li class="uk-active">
                                            <ul class="uk-iconnav">
                                                <li><a href="{{ path('advert_show_logout', { 'id': advert.id }) }}" uk-icon="icon: search" title="Voir l'annonce"></a></li>
                                                <li><a href="{{ path('advert_delete', { 'id': advert.id }) }}" uk-icon="icon: trash" title="Supprimer l'annonce"></a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="uk-margin">
                    <ul class="uk-list">
                        <li>
                            <a class="uk-button uk-margin-bottom uk-button-violet" href="{{ path('advert_new') }}">Ajouter une annonce</a>
                        </li>
                    </ul>
                </div>
        </div>
     
        </div>
    </div>
  
{% endblock %}
