{% extends 'default/index.html.twig' %}
{% block title %}Création d'une annonce | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}

{% block body %}
    <div class="uk-container uk-margin-top uk-margin-bottom">

        <div uk-grid class="uk-grid">
            <div class="uk-width-2-3@s uk-first-column">
                <div class="uk-section uk-section-default uk-margin-small uk-padding-small">
                    <h4 class="uk-text-uppercase uk-text-muted">Que souhaitez-vous faire ?</h4>
                    {{ form_start(form, {'action': path('advert_new'),'method':'POST', 'attr':{'class':'uk-form-horizontal'}}) }}
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-text">Type d'annonce *</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.typeAnnonce, {'attr': {'class':'uk-select uk-form-width-medium'}}) }}
                        </div>
                    </div>
                    <div class="uk-margin champEnvois">
                        <label class="uk-form-label uk-text-bold" for="form-h-text">Mode de transport *</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.transportMode, {'attr': {'class':'uk-select uk-form-width-large'}}) }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-text">Titre de l'annonce *</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.title, {'attr': {'class':'uk-input uk-form-width-large'}}) }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-text"></label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.nbKilos, {'attr': {'class':'uk-input uk-form-width-medium'}}) }}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-textarea">Description de l'objet</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.restrictions, {'attr': {'class':'uk-textarea uk-form-width-large uk-resize-vertical'}}) }}
                        </div>
                    </div>
                </div>
                <div class="uk-section uk-section-default uk-margin-small uk-padding-small">
                    <div class="uk-margin">
                        <label class="uk-text-uppercase uk-text-muted">Départ / Arrivée</label>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-text">Départ *</label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.departure, {'attr': {'class':'uk-input uk-form-width-large datepicker-date'}}) }}
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-icon uk-form-icon-flip uk-margin-left" uk-icon="icon:calendar"></span>
                                {{ form_widget(form.dateDeparture, {'attr': {'class':'uk-input uk-form-width-small datepicker-date', 'placeholder':'date aller','data-toggle':'datepicker'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-h-text">Arrivée </label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.arrival, {'attr': {'class':'uk-input uk-form-width-large datepicker-date'}}) }}
                            <div class="uk-inline champEnvois">
                                <span class="uk-form-icon uk-icon uk-form-icon-flip uk-margin-left" uk-icon="icon:calendar"></span>
                                {{ form_widget(form.dateArrival, {'attr': {'class':'uk-input uk-form-width-small datepicker-date', 'placeholder':'date retour','data-toggle':'datepicker'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small uk-section uk-section-default uk-padding-small">
                    <div class="uk-margin champEnvois">
                        <label class="uk-text-uppercase uk-text-muted">Prix et photo du colis</label>
                    </div>
                    <div class="uk-margin champTaker uk-hidden">
                        <label class="uk-form-label uk-text-bold">Ajouter des photos du colis</label>
                        <div class="uk-form-controls uk-margin">
                           {{ form_row(form.image) }}
                        </div>
                    </div>
                    <div class="uk-margin champEnvois">
                        <label class="uk-form-label uk-text-bold" for="form-h-text"></label>
                        <div class="uk-form-controls">
                            {{ form_widget(form.pricePerKilo, {'attr': {'class':'uk-input uk-form-width-medium'}}) }}
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-text-uppercase uk-text-muted"></label>
                    </div>
                    <div class="uk-margin">
                        <input type="submit" class="uk-button uk-button-medium uk-button-violet" value="Valider" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_customized %}
    {#<script type="text/javascript" src="{{ asset('public/js/app.min.js') }}"></script>#}
{% endblock %}
      
