
{% if adverts is defined %}<h3>Nous avons trouvé <em>{{ nbAdverts }}</em> de vos annonces de transport au départ de {{ departure }} pour {{ arrival }}</h3>
{% else %}<h3>Désolé, nous n'avon trouvé aucune de vos annonces au départ de {{ departure }} pour {{ arrival }}</h3>
{% endif %}
<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
    <tr>
        <th class="uk-width-small">Départ/Arrivée</th>
        <th>Libellé</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for ad in adverts %}
    <tr>
        <td>{{ ad.departure }} / {{ ad.arrival }}</td>
        <td>{{ ad.title }}</td>
        <td>
            <a class="uk-button uk-button-violet" type="button" href="{{ path('envoyer_kilos', {'id_annonce_envoyee':ad.id, 'id_annonce_giver':id_advert_giver, 'poids_requis':poids_requis}) }}">
                Proposer
            </a>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
</table>