{% extends 'base.html.twig' %}
{% block title %}Propositions reçues | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}

{% block body %}
    <div class="uk-container uk-background-default">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-3-3@m uk-first-column">
                {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            </div>
        </div>
        {% if tabPropositions is defined and tabPropositions is not empty %}
        <h3>Liste des propositions de transport de colis</h3>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
            <tr>
                <th class="uk-width-small">Nom du transporteur</th>
                <th>Libelle de l'annonce</th>
                <th>Prix au kilo</th>
                <th>Poids disponible</th>
                <th>Réserver</th>
            </tr>
            </thead>
            <tbody>
            {% for t in tabPropositions %}
            <tr>
                <td>{{ t.advert.user.name }} {{ t.advert.user.lastname }}</td>
                <td>{{ t.advert.title }}</td>
                <td>{{ t.advert.pricePerKilo }} €</td>
                <td>{{ t.advert.NbKilos }} kgs</td>
                <td><a class="uk-button uk-button-primary" href="{{ path('advert_show_logout', {'id':t.prop.idAnnonceTaker}) }}">Voir le détail pour réserver</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="uk-margin-bottom" uk-alert>
                Aucune proposition reçue
            </div>
        {% endif %}
    </div>
    
{% endblock %}
