{% extends 'base.html.twig' %}
{% block title %}Annonce n°{{ advert.id }} | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}

{% block body %}
    <div class="uk-container uk-background-default">
        <h3>Récapitulatif de votre annonce {% if advert.typeAnnonce == 1 %}de transport{% else %}d'envoi{% endif %} de colis</h3>
        <hr />
        <table class="uk-table uk-table-striped uk-table-hover uk-table-divider">
            <tbody>
            <tr>
                <th class="uk-text-bold uk-text-primary">Apercu</th>
                <td>
                    <img src="{{ asset('uploads/images/' ~ advert.image) }}" height="100px" width="250px">
                </td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Numéro</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Capacité </th>
                <td>{{ advert.nbKilos }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Prix par kilogramme ou par mètre cube</th>
                <td>{{ advert.pricePerKilo }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Lieu de Depart</th>
                <td>{{ advert.departure }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Lieu d'arrivée</th>
                <td>{{ advert.arrival }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Date et heure de départ</th>
                <td>{% if advert.dateDeparture %}{{ advert.dateDeparture|date('Y-m-d') }}{% endif %}{% if advert.dateDeparture %} {% endif %}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Date et heure d'arrivée</th>
                <td>{% if advert.dateArrival %}{{ advert.dateArrival|date('Y-m-d') }}{% endif %} {% if advert.dateArrival %}{% endif %}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Mode de transport</th>
                <td>{{ advert.transportMode }}</td>
            </tr>
            <tr>
                <th class="uk-text-bold uk-text-primary">Restrictions</th>
                <td>{{ advert.restrictions }}</td>
            </tr>
            </tbody>
            <tfoot>
            {% if is_granted('ROLE_USER') %}
                <tr>
                    
                    <td> <span class="uk-label "><a  class="uk-button uk-button-primary" href="{{ path('advert_index') }}">Retour à vos annonces</a></span></td>
                    <td>   <span class="uk-label ">
                        <a class="uk-button uk-button-primary" href="{{ path('advert_edit', { 'id': advert.id }) }}">Modifier</a>
                    </span></td>
                    <td>    <span class="uk-label">     
                        {{ form_start(delete_form) }}
                            <input class="uk-button-primary uk-button" type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </span></td>
                </tr>
           {% endif %} 
            </tfoot>
        </table>
    </div>
    
{% endblock %}
