{% extends 'base.html.twig' %}
{% block title %}Annonce n°{{ advert.id }} | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}

{% block body %}
    <div class="uk-container uk-background-default uk-padding">
        <h3 class="uk-heading-divider">{{ advert.title }}</h3>
        <article class="uk-comment">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    {# Ici on rajoute une photo #}
                    <img class="uk-border-circle uk-comment-avatar" src="{% if advert.user.avatar is null %}{{ asset('public/img/profilneutre.jpg') }}{% else %}{{ asset(advert.image) }}{% endif %}"  alt="">
                </div>
                <div class="uk-width-expand">
                    <span class="uk-article-meta uk-text-warning">Informations {% if advert.typeAnnonce == 1 %}de l'expéditeur {% else %}du transporteur{% endif %}</span>
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="{{ path('user_show', {'id':advert.user.id}) }}">{{ advert.user.username }}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        {% if advert.user.birthdayDate is not null %}<li><a href="#">{% set birthdate = advert.user.birthdayDate|date("Y") %} {% set anneeEnCours = "now"|date("Y") %} {{ anneeEnCours - birthdate }} ans</a></li>{% endif %}
                        <li><a href="#">Expert</a></li>
                    </ul>
                </div>
            </header>
            <div uk-grid>
                <div class="uk-width-expand">
                    <div class="uk-card uk-card-default uk-card-body">
                        {% if charge is defined %}
                        <div class="uk-container uk-background-default uk-padding">
                            <div class="uk-alert-success" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>Paiement effectué avec succès</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if proposition is defined %}
                        <div class="uk-container uk-background-default uk-padding">
                            <div class="uk-alert-info" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>Votre proposition a bien été envoyée, vous serez notifié si l'expéditeur l'accepte</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if emailFaux is defined and emailFaux==1 %}
                        <div class="uk-container uk-background-default uk-padding">
                            <div class="uk-alert-danger" uk-alert>
                                <a class="uk-alert-close" uk-close></a>
                                <p>Le paiement a échoué, veuillez s'il vous plait utiliser, l'adresse mail votre compte Takinbag avec lequel vous êtes connecté</p>
                            </div>
                        </div>
                        {% endif %}
                        
                        <span><b>Annonce ajoutée le</b>  : {{ advert.created|date("d/m/Y H:i") }}</span><br />
                        <span><b>Annonce de type</b>  : {% if advert.typeAnnonce == 1 %}Envoi de colis{% else %}Transport de colis{% endif %}</span>
                        {% if advert.typeAnnonce == 1 and advert.restrictions is not null %}
                            <div uk-alert>
                               {{ advert.restrictions }}
                            </div>
                        {% endif %}
                        <p><img src="{% if advert.image is not null %}{{ asset('uploads/images/'~advert.image) }}{% else %}{{ asset('public/img/box-colis.png') }}{% endif %}" alt="photo du colis"/></p>
                        <h5 class="uk-text-lead">Le départ et l'arrivée</h5>
                        <div>
                          <b>départ</b> : Le {{ advert.dateDeparture|date("d/m/Y") }}  à {{ advert.departure }}
                            {% if advert.typeAnnonce == 2 %}
                            <hr /><b>arrivée</b> : Le {{ advert.dateArrival|date("d/m/Y") }} à {{ advert.arrival}}
                            {% endif %}
                        </div>
                        <h5 class="uk-text-lead">Le colis</h5>
                        <div uk-alert>
                            {% if advert.typeAnnonce == 2 %}
                                <b>Nombre de kilos à proposer</b> : {{ advert.nbKilos }} Kgs<hr />
                                <b>Prix au kilo :</b> {{ advert.pricePerKilo }} €
                            {% else %}
                                <b>Nombre de kilos à envoyer</b> : {{ advert.nbKilos }} Kgs
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
                {# Si on est connecté, on affiche le bouton de réservation #}
                {% if (app.user.username is defined and advert.user.email != app.user.email) or  (app.user.username is not defined  ) %}
                <div class="uk-width-auto">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h5 class="uk-text-lead">{% if advert.typeAnnonce == 2 %}Réserver des kilos{% else %}Transporter ce colis{% endif %}</h5>
                        <hr />
                        <ul class="uk-list">
                            <li>
                                {% if charge is not defined and advert.typeAnnonce == 2  %}
                                <a href="#modal-transaction" class="uk-button uk-button-violet uk-button-small" uk-toggle>
                                    <span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span> Réserver
                                </a>
                                {% elseif charge is defined and advert.typeAnnonce == 2 %}
                                    <a class="uk-button uk-button-violet uk-button-small"><span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span> {{ advert.user.phone }}</a>
                                {% elseif charge is defined and advert.typeAnnonce == 1 %}
                                    <a class="proposer-kilos uk-button uk-button-violet uk-button-small"><span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span> Proposer mes kilos</a>
                                {% elseif charge is not defined and advert.typeAnnonce == 1 %}
                                    <a class="proposer-kilos uk-button uk-button-violet uk-button-small"><span class="uk-margin-small-right uk-icon" uk-icon="icon: phone"></span> Proposer mes kilos</a>
                                {% endif %}
                            </li>
                            <li>
                                    {% if advert.typeAnnonce == 1  %}
                                        <a href="#modal-message" class="uk-button uk-button-primary uk-button-small" uk-toggle>
                                            <span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"></span> Envoyer un message
                                        </a>
                                    {% else %}
                                        {% if proposition is not defined and advert.typeAnnonce == 1 %}
                                        <a class="proposer-kilos uk-button uk-button-primary uk-button-small" href="#modal-proposition-kilos" uk-toggle>
                                            <span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"></span> Proposer mes kilos
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {# Si c'est celui qui ecrit l'annonce , on lui donne la possibilité de la modifier #}    
                {% else %}
                <div class="uk-width-auto">
                    <div class="uk-card uk-card-default uk-card-body">
                        <h5 class="uk-text-lead">Modifier mon annonce</h5>
                        <ul class="uk-list">
                            <li><a class="uk-button uk-button-primary" href="{{ path('advert_edit', {'id':advert.id}) }}">modifier</a> </li>
                        </ul>
                    </div>
                </div>    
                {% endif %}
            </div>
        </article>
        <!-- This is the modal -->
        <div id="modal-transaction" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Formulaire de réservation des kilogrammes</h2>
                <p>
                    {# On procède au paiement si l'utilisateur est connecté #}
                    {% if app.user.username  is defined %}
                        <form class="uk-form-stacked" action="{{ path('advert_invoice', {'id':advert.id}) }}" method="POST">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Choisissez le nombre de kilogrammes que vous souhaitez réserver<br /><br /></label>
                                <select class="choixKilos uk-select uk-form-width-small" name="nbKilosReserves">
                                    {% for  i in '---'..advert.NbKilos%}
                                        <option>{{ i }}</option>
                                    {% endfor %} 
                                </select>
                            </div>
                            <div id="form-payment"  class="uk-margin">
                              
                            </div>
                        </form>
                    {% else %}
                        Désolé, identifiez-vous d'abord à l'application avant de procéder au paiement de l'accès au contact de cet utilisateur 
                        <br /><a href="{{ path('login') }}" class="uk-margin-small uk-button-violet uk-button uk-button-small">se connecter</a>
                    {% endif %}
                </p>
                {% if app.user.username  is defined %}
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
                    {#<button class="uk-button uk-button-primary" type="button">Save</button>#}
                </p>
                {% endif %}
            </div>
        </div>
  
        <!-- Modale envoie de message -->
        <div id="modal-message" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Envoyer un message à l'annonceur</h2>
                {% if app.user.username is defined and advert.typeAnnonce == 1 %}
                <div class="uk-form-horizontal">
                        {{ form_start(form, {'method':'POST', 'action':path('message_new', {'id':advert.user.id})}) }}
                        <div class="uk-margin">
                            {{ form_label(form,'Objet du message', {'label_attr':{'class':'uk-form-label'}}) }}
                            {{ form_row(form.title, {'label':false,'attr':{ 'class':'uk-input uk-form-small'}}) }}               
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form,'Corps du message', {'label_attr':{'class':'uk-form-label'}}) }}
                            {{ form_row(form.body, {'label':false,'attr':{ 'class':'uk-textarea'}}) }}               
                        </div>
                        
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-danger uk-modal-close" type="button">Annuler</button>
                    <input class="uk-button uk-button-primary valider_kilos" type="submit" value="Envoyer" />
                </p>
                {{ form_end(form) }}
                {% else %}
                    <span class="uk-alert uk-alert-danger uk-margin">
                        Pour envoyer un message, vous devez être connecté 
                    </span><br />
                        <a class="uk-margin-top uk-button uk-button-violet" href="{{ path('login') }}">se connecter</a>
                {% endif %}
            </div>
        </div>
        {# Modale Proposition de kilos #}


        <div id="modal-proposition-kilos" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Proposer des kilos pour un trajet</h2>
                </div>
                <div class="uk-modal-body propositions-commerciales">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block js_customized %}
 <script type="text/javascript">
     $(".choixKilos").change(function(){
         var nbKilos = $(this).val();
        $.ajax({
            url: "{{ path('advert_invoice_calcul', {'id':advert.id}) }}",
            type:'POST',
            data:'nbKilos='+$(this).val(),
            success: function(donnees){
                    var bloc_affichage_prix = $("#form-payment");
                    if(nbKilos !== '0'){
                        bloc_affichage_prix.empty().append(donnees);
                    }else{
                        bloc_affichage_prix.empty();
                    }
            }
        }); 
        
     });
     /* gestion de la proposition des kilos : 
* */
     $('.proposer-kilos').on('click', function(){
         // On regarde si l'utilisateur connecté a une annonce avec suffisamment de kilogrammes pour transporter des kilos 
         $.ajax({
             url:"{{ path('proposer_kilos', {'advert_id':advert.id, 'user_id': app.user.id, 'departure':advert.departure,'arrival':advert.arrival,'poids_requis':advert.nbKilos }) }}",
             type:'POST',
             success: function(result){
                 $('.propositions-commerciales').empty().append(result);
             }
         });
     });
 </script>
{% endblock %}