{% extends 'base.html.twig' %}
{% block title %}Annonce n°{{ advert.id }} | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}

{% endblock %}