{% extends 'base.html.twig' %}
{% block title %}Connexion | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="pageConnexion" class="uk-margin-vertical">
        <div id="blocLogin" class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-1-3@m uk-grid" uk-grid="">
                        <div class="uk-first-column">
                        </div>
                        <div>
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <h2>Se connecter</h2>
                            <div class="uk-margin">
                                <p><a href="{{ path('suscribe') }}" class="uk-text-primary">Pas encore inscrit ?, créer mon compte</a></p>
                            </div>
                            <form action="{{ path('security_login_check') }}" method="post">
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon uk-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input uk-form-width-medium" type="text" name="_username" id="username"  placeholder="Login" value="" />
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon uk-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input uk-form-width-medium" type="password" id="password" name="_password" placeholder="Mot de passe" />
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <label><input class="uk-checkbox" type="checkbox" checked="" name="_remember_me" />  Se souvenir</label>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-button-violet uk-button" type="submit" value="Se connecter" />
                                    </div>
                                    <div class="uk-margin">
                                        <p><a class="uk-text-muted" href="{{ path('password_recovery') }}">Mot de passe oublié ?</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    

{% endblock %}