{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="pageConnexion" class="uk-margin-vertical">
        <div id="blocLogin" class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-1-3@m uk-grid" uk-grid="">
                        <div class="uk-first-column">
                        </div>
                        <div>
                            <h4>Saisissez un nouveau mot de passe </h4>
                            {% if success is defined and success  == 1 %}
                                <div class="uk-alert-success uk-margin">
                                    <p class="uk-margin">
                                        Votre mot de passe a été mis à jour
                                    </p>
                                </div>
                            {% endif %}
                            <form action="{{ path('change_password', {'email': email}) }}" method="post">
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon uk-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input " type="password" name="password" id="password"  placeholder="mot de passe" value="" />
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-button-primary uk-button" type="submit" value="Valider" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}