{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div id="pageConnexion" class="uk-margin-vertical">
        <div id="blocLogin" class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-1-3@m uk-grid" uk-grid="">
                        <div class="uk-first-column">
                        </div>
                        <div>
                            <h4>Demander un nouveau mot de passe </h4>
                            {% if success is defined and success  == 1 %}
                                <div class="uk-alert-success uk-margin">
                                    <p>
                                        Vous avez reçu un email de Takinbag, veuillez cliquer sur le lien qui y est renseigné pour réinitialiser votre mot de passe.
                                    </p>
                                </div>
                            {% else %}
                                <p class="uk-margin uk-padding">Saisissez l'email liée à votre compte Takinbag. Immédiatement, vous recevrez un message dans cette email. Ce message contiendra un lien qui vous ramènera sur notre application takinbag pour choisir un nouveau mot de passe.</p>
                            {% endif %}
                            <form action="{{ path('password_recovery') }}" method="post">
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon uk-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input " type="email" name="email" id="email"  placeholder="adresse mail" value="" />
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline">
                                        <input class="uk-button-primary uk-button" type="submit" value="Valider" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}