{% extends 'base.html.twig' %}
{% block title %}Modification du profil | Takinbag{% endblock %}
{% block header %}
    {% include 'default/partials/header.html.twig' with {'id':'dashboard'} %}
{% endblock %}
{% block body %}
    <div class="uk-container">
        <div class="uk-first-column">
            {% include 'AppBundle:partials:menu-secondary.html.twig' %}
            <div class="uk-padding uk-background-default">
                <div class="uk-text-center" uk-grid>
                    <div class="uk-width-1-4 profil-details">
                        <div id="picture-profile" class="uk-panel uk-margin">
                            {%  if user.avatar is null %}
                                <img class="uk-border-pill"  src="{{ asset('public/img/profilneutre.jpg') }}" width="150" alt="photo de profil"/>
                            {% else %}
                                <img class="uk-border-pill image-profile" src="{{ asset(user.avatar) }}" width="150" alt="photo de profil"/>
                            {% endif %}
                        </div>
                        <div class="uk-panel">
                            <strong>
                                {{ user.name }} {{ user.lastname }}
                            </strong>
                        </div>
                        <div class="uk-panel uk-margin">
                            <input type="file" name="avatar_user" id="buttonUpload" />
                        </div>
                        <div class="uk-margin">
                            <input id="uploadProfileAvatar" type="submit" class="uk-button uk-button-violet uk-button-small"  value="Ajouter une nouvelle photo" />
                        </div>
                    </div>
                    <div class="uk-width-3-4">
                            <div class="uk-padding">
                                {{ form_start(edit_form, {'action': path('advert_new'),'method':'POST', 'attr':{'class':'uk-form-horizontal uk-margin-medium'}}) }}
                                {% if erreurs is defined and erreurs is not empty  %}
                                    <div class="uk-alert-danger" uk-alert>
                                        <a class="uk-alert-close" uk-close></a>
                                        <p>
                                            {{ erreurs }}
                                        </p>
                                    </div>
                                {% endif %}
                                <div class="uk-margin">
                                    {{ form_label(edit_form.name,'Nom', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                        {{ form_row(edit_form.name,{'label':false,'attr':{'class':'uk-input uk-form-width-medium'}} ) }}

                                    </div>
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(edit_form.lastname,'Prénom', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                        {{ form_row(edit_form.lastname, {'label':false,'attr':{'class':'uk-input uk-form-width-medium'}}) }}
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(edit_form.username,'Login', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                    {{ form_row(edit_form.username,  {'label':false,'attr':{'class':'uk-input uk-form-width-medium'}}) }}
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(edit_form.email,'Email', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                    {{ form_row(edit_form.email, {'label':false,'attr':{'class':'uk-input uk-form-width-medium'}}) }}
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(edit_form.address,'Adresse', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                    {{ form_row(edit_form.address, {'label':false,'attr':{'class':'uk-input uk-form-width-medium'}}) }}
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    {{ form_label(edit_form.phone, 'Numéro de téléphone', {'label_attr':{'class':'uk-form-label'}}) }}
                                    <div class="uk-form-controls">
                                    {{ form_row(edit_form.phone, {'label':false,'attr':{'class':'uk-input uk-form-width-medium'}}) }}
                                    </div>
                                </div>
                                {# On ajoute le champ caché #}

                                <div class="uk-margin">
                                    <label class="uk-form-label required" for="appbundle_user_phone">
                                        <input class="uk-button uk-button-violet" type="submit" value="Modifier" />
                                    </label>
                                </div>
                                {{ form_end(edit_form, {'render_rest':false}) }}
                            </div>
                    </div>
                </div>
                <ul class="uk-list">
                    {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            {{ form_start(delete_form) }}
                            <input class="uk-button uk-button-danger" type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_customized %}
    <script type="text/javascript">
        {# On ajoute ou on met à jour la photo de profil #}
        $('#uploadProfileAvatar').on('click', function () {
            var url ="{{ path('user_upload_picture', {'id' : user.id }) }}";
            var formData  = new FormData();
            formData.append('file', $('#buttonUpload').prop('files')[0]);
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType:false,
                cache: false,
                processData:false,
                success : function(donnees){
                    var pathPicture = '/'+donnees.chemin;
                    console.log('/'+pathPicture);
                    $('.image-profile').fadeIn(2000).attr("src", pathPicture);
                }
            });

        });
    </script>
{% endblock %}
