{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Email</th>
                <th>Created</th>
                <th>Datemaj</th>
                <th>Phone</th>
                <th>Avatar</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Country</th>
                <th>Username</th>
                <th>Password</th>
                <th>Birthdaydate</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.datemaj %}{{ user.datemaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{% if user.birthdayDate %}{{ user.birthdayDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
